@import url("https://fonts.googleapis.com/css?family=Lato|PT+Sans");
.third {
  background-color: #f8f8f8; }
  .third .content_mobile {
    display: none; }
  .third .content-rel {
    position: relative; }
  .third h2:after {
    width: 80px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%); }
  .third .sub_heading {
    padding: 0 0 20px 0; }
  .third .content {
    padding: 50px 0;
    margin-top: 0;
    border-bottom: 1px solid #e2e2e2; }
    .third .content:nth-child(3) {
      border-bottom: 0;
      padding-bottom: 0; }
  .third .content_wrapper {
    width: 70%;
    vertical-align: middle;
    display: inline-block;
    position: relative; }
    .third .content_wrapper:nth-child(3) .image {
      text-align: right; }
    .third .content_wrapper .primary_text {
      height: 90px;
      overflow: hidden; }
    .third .content_wrapper .readMoreinit {
      position: absolute;
      bottom: -25px;
      left: 0;
      font-size: 14px;
      color: #da491c;
      cursor: pointer; }
  .third .image {
    width: 30%;
    position: relative;
    vertical-align: middle;
    display: inline-block; }
    .third .image .youtube_ico {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18%;
      height: 25%;
      cursor: pointer; }
  .third .pad_left {
    padding-left: 100px; }
  .third .pad_right {
    padding-right: 100px; }

@media (min-width: 320px) and (max-width: 767px) {
  .third h2:after {
    width: 50px; }
  .third .content_mobile {
    display: block;
    padding: 50px 0;
    margin-top: 0; }
    .third .content_mobile:not(:last-child) {
      border-bottom: 1px solid #e2e2e2; }
  .third .content {
    display: none; }
  .third .image {
    width: 100%; }
  .third .content_wrapper {
    width: 100%;
    padding-bottom: 40px; }
    .third .content_wrapper .sub_heading {
      padding: 0 0 20px 0; } }
