<div class="block first">
    <div class="heading ">
        <h2>Our Commitment</h2>
    </div>
    <div class="content content_wrapper">
        <div class="primary_text col">
            <span class="bold-7">{{aboutUs.boldContent}}</span>
            <br>
            {{aboutUs.content}}
        </div>
        <span class="readMoreinit read_more">Read More</span>
    </div>
    <div class="content_mobile content_wrapper">
        <div class="primary_text col">
            <span class="bold-7">{{aboutUs.boldContent}}</span>
            {{aboutUs.content}}
        </div>
        <span class="readMoreinit read_more">Read More</span>
    </div>
</div>
