<div class="block first">
    <div class="heading ">
        <h2>About Us</h2>
    </div>
    <div class="content ">
        <div class="primary_text col">
            {{aboutUs.content}}
        </div>
        <div class="image col">
            <img src="{{aboutUs.image}}" alt="">
        </div>
    </div>
    <div class="content_mobile">
        <div class="image col">
            <img src="{{aboutUs.image}}" alt="">
        </div>
        <div class="primary_text col">
            {{aboutUs.content}}
        </div>
        <span class="read_more" id="readMore">See More</span>
    </div>
</div>
