<div class="block first">
    <div class="heading ">
        <h2>About Us</h2>
    </div>
    <div class="content ">
        <div class="primary_text col">
            WNS (Holdings) Limited (NYSE: WNS), is a leading global business process management company. WNS offers business value to 300+ global clients by combining operational excellence with deep domain expertise in key industry verticals including Travel, Insurance, Banking and Financial Services, Manufacturing, Retail and Consumer Packaged Goods, Shipping and Logistics, Healthcare and Utilities. WNS delivers an entire spectrum of business process management services such as finance and accounting, customer care, technology solutions, research and analytics and industry specific back office and front office processes. As of December 31, 2017, WNS had 35,657 professionals across 53 delivery centers worldwide including China, Costa Rica, India, Philippines, Poland, Romania, South Africa, Sri Lanka, Turkey, United Kingdom and the United States. For more information, visit <a target="_blank" href="https://www.wns.com">www.wns.com</a>.
        </div>
        <div class="image col">
            <img src="static/images/image1-min.jpg" alt="">
        </div>
    </div>
    <div class="content_mobile ">
        <div class="image col">
            <img src="static/images/image1-min.jpg" alt="">
        </div>
        <div class="primary_text col">
            WNS (Holdings) Limited (NYSE: WNS), is a leading global business process management company. WNS offers business value to 300+ global clients by combining operational excellence with deep domain expertise in key industry verticals including Travel, Insurance, Banking and Financial Services, Manufacturing, Retail and Consumer Packaged Goods, Shipping and Logistics, Healthcare and Utilities. WNS delivers an entire spectrum of business process management services such as finance and accounting, customer care, technology solutions, research and analytics and industry specific back office and front office processes. As of December 31, 2017, WNS had 35,657 professionals across 53 delivery centers worldwide including China, Costa Rica, India, Philippines, Poland, Romania, South Africa, Sri Lanka, Turkey, United Kingdom and the United States. For more information, visit  <a target="_blank" href="https://www.wns.com">www.wns.com</a>.

        </div>
        <span class="read_more">See More</span>
    </div>
</div>