<div class="block fifth">
    <div class="heading">
        <h2>Best Practices</h2>
    </div>
    <div class="image">
        <img src="{{bestPractices.bgImg}}" alt="">
        <div class="content_wrapper">
            <div class="bp_block">
                <div class="pri_content">Inclusion &amp; Diversity Week</div>
                <div class="sec_content">Inclusion &amp; Diversity week is organized every year, to promote a culture of I&amp;D and strengthen our commitment.This includes a holistic set of events conducted across locations under different campaigns curated for the year, with focus the years I&amp;D agenda.</div>
            </div>
            <div class="bp_block">
                <div class="pri_content">Sensitization workshops for people managers : Unconscious bias and POSH</div>
                <div class="sec_content">
                    <ul>
                        <li><span class="bold-6">Unconscious bias</span> - People Managers are critical to ensure an inclusive work environment for the employees. First Training Workshop on Unconscious Biases was conducted by our I&amp;D Partner –Community Business (Diversity In Asia Network). It covered training through roles plays around Gender, Disability, LGBT, Culture, Millennials and Others.</li>
                        <li><span class="bold-6">POSH</span>- People Managers are critical to ensure an inclusive work environment for the employees. First Training Workshop on Unconscious Biases was conducted by our I&D Partner –Community Business (Diversity In Asia Network). It covered training through roles plays around Gender, Disability, LGBT, Culture, Millennials and Others.</li>
                    </ul>
                </div>
            </div>
            <div class="bp_block">
                <div class="pri_content">New Parent Policy</div>
                <div class="sec_content">GSK continues relentlessly to create an inclusive and diverse environment, empowering our employees to contribute to their full potential.In 2018, we introduced our Child Care Support Policy to our women employees and the organization tied up with Klay for crèche benefits, across locations in India.The Child Care Support policy extends to all permanent women employees in GSK. The benefit can be availed by eligible employees for a maximum of 2 children in the age bracket of 6 months to 4 years. The policy supports, eligible employees to avail crèche facility for their children.</div>
            </div>
        </div>
    </div>
</div>
