<div class="block fifth">
    <div class="heading">
        <h2>Best Practices at WNS GLOBAL SERVICES</h2>
    </div>
    <div class="image">
        <img src="{{bestPractices.bgImg}}" alt="">
        <div class="content_wrapper">
            <ul>
                {{#bestPractices.practices.length}}
                    {{#bestPractices.practices}}
                        <li><span class="primary_content">{{title}}</span> – {{description}}</li>
                    {{/bestPractices.practices}}
                {{/bestPractices.practices.length}}
            </ul>
        </div>
    </div>
</div>
