<div class="block fifth">
    <div class="heading">
        <h2>Best Practices at WNS GLOBAL SERVICES</h2>
    </div>
    <div class="image">
        <img src="static/images/wnbestPractices-min.jpg" alt="">
        <div class="content_wrapper">
            <ul>
                <li><span class="primary_content">Be Smart, Wear Smart</span> – We let our employees be fashionably reasonable.</li>
                <li><span class="primary_content">WNS Cares</span> – With a mission to “Educate, “Empower” and “Enrich” to make a difference around the globe.</li>
                <li><span class="primary_content">WNS Sports</span> – We encourage all to be active and stay active.</li>
                <li><span class="primary_content">Open and Friendly work Environment</span> – Approachable Senior Management with a friendly and supportive work culture.</li>
            </ul>
        </div>
    </div>
</div>
