<div class="block seventh">
    <div class="heading">
        <h2>Explore Opportunities at Accenture</h2>
    </div>
    <div class="sub_content">
        We believe that each one of us should be able to find our dream job, and we constantly strive hard to make that possible. Apply now
    </div>
    <div class="content">
        <div class="row">
            <div class="col">
                <a href="#"></a>
                <div class="image">
                    <img src="/static/images/job-icon-min.png" alt="">
                </div>
                <div class="primary_text">
                    Accenture - Manager/Senior Manager - Strategy - Life Sciences
                </div>
                <div class="secondary_text">
                    <p>Experience: 5-12 yrs</p>
                    <p>Location: Bangaluru/Bangalore</p>
                </div>
            </div>
            <div class="col">
                <a href="#"></a>
                <div class="image">
                    <img src="/static/images/job-icon-min.png" alt="">
                </div>
                <div class="primary_text">
                    Accenture - Manager/Senior Manager - Strategy - Life Sciences
                </div>
                <div class="secondary_text">
                    <p>Experience: 5-12 yrs</p>
                    <p>Location: Bangaluru/Bangalore</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#"></a>
                <div class="image">
                    <img src="/static/images/job-icon-min.png" alt="">
                </div>
                <div class="primary_text">
                    Accenture - Manager/Senior Manager - Strategy - Life Sciences
                </div>
                <div class="secondary_text">
                    <p>Experience: 5-12 yrs</p>
                    <p>Location: Bangaluru/Bangalore</p>
                </div>
            </div>
            <div class="col">
                <a href="#"></a>
                <div class="image">
                    <img src="/static/images/job-icon-min.png" alt="">
                </div>
                <div class="primary_text">
                    Accenture - Manager/Senior Manager - Strategy - Life Sciences
                </div>
                <div class="secondary_text">
                    <p>Experience: 5-12 yrs</p>
                    <p>Location: Bangaluru/Bangalore</p>
                </div>
            </div>
        </div>
    </div>
</div>