<div class="footer">
    <div class="container text-center">
        <div class="socicobox">
            <div class="ico">
				<a rel="nofollow" href="https://www.facebook.com/WeNurtureSpecialists/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i> </a>
            </div>
            <div class="ico">
				<a rel="nofollow" href="https://twitter.com/wnscareers" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="ico">
				<a rel="nofollow" href="https://www.linkedin.com/company/wns-global-services/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
            </div>
            <div class="ico">
                <a rel="nofollow" href="https://www.wnscareers.com/" target="_blank"><i class="fa fa fa-home fb hme" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="ftrcopy text-center">
        <p>All rights reserved &copy; <a href="http://www.iimjobs.com" target="_blank">iimjobs.com</a></p>
    </div>
</div>
</body>

{{#scripts.length}}
	{{#scripts}}
		<script type="text/javascript" src="/{{.}}"></script>
	{{/scripts}}
{{/scripts.length}}
</html>
