<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"> -->
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="/{{.}}">
    	{{/styles}}
	{{/styles.length}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
	<div class="overlay"><img class="bg-img" src="/static/images/header_img.png"></div>

	<img class="logo-img" src="/static/images/logo.png">
	<h1 class="">Diversity makes us stronger</h1>
	<h4>Discover how our unwavering belief and commitment to our team of 425,000+ people from a variety of cultures, beliefs and backgrounds makes us stronger, smarter and more innovative.</h4>
</div>
