<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"> -->
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="{{.}}">
    	{{/styles}}
	{{/styles.length}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div class="main-wrapper">
	<div class="header">
		<div class="overlay"></div>
		<img class="bg-img" src="static/images/gsk-header_img.jpg">
		<img class="bg-img-mobile " src="static/images/gsk-mobile.jpg">
		<img class="logo-img" src="static/images/gsk-logo.png">
		<h1 class="">At GSK , diversity and a culture of inclusion fuel our mission to help people do more, feel better, live longer.</h1>
	</div>
