{{> header}}
    <div class="main_container">
        <div id="tabs" class="nav-tabs hidden">
            <div class="nav_container">
                <ul>
                    <li><a href="#fragment-1">Our Commitment</a></li>
                    <li><a href="#fragment-2">Empowering Women</a></li>
                    <li><a href="#fragment-3">Persons with disabilities</a></li>
                    <li><a href="#fragment-4">Veterans</a></li>
                </ul>
            </div>

            <div id="fragment-1">
                {{> aboutUs}}

                <hr class="divider">
                {{> ourCommitment}}

                <hr class="divider">
                {{> ourCulture}}

                <hr class="divider">
                {{> ourInitiatives}}

                <hr class="divider">
                {{> perksAndBenefits}}

                <hr class="divider">
                {{> bestPractices}}

                <hr class="divider">
                {{> testimonialQuote}}

                <hr class="divider">
                {{> exploreOpportunities}}

            </div>

            <div id="fragment-2">
                {{> aboutUs}}

                <hr class="divider">
                {{> ourCommitment}}

                <hr class="divider">
                {{> ourCulture}}

                <hr class="divider">
                {{> ourInitiatives}}

                <hr class="divider">
                {{> perksAndBenefits}}

                <hr class="divider">
                {{> bestPractices}}

                <hr class="divider">
                {{> testimonialQuote}}

                <hr class="divider">
                {{> exploreOpportunities}}
            </div>

            <div id="fragment-3">
                {{> aboutUs}}

                <hr class="divider">
                {{> ourCommitment}}

                <hr class="divider">
                {{> ourCulture}}

                <hr class="divider">
                {{> ourInitiatives}}

                <hr class="divider">
                {{> perksAndBenefits}}

                <hr class="divider">
                {{> bestPractices}}

                <hr class="divider">
                {{> testimonialQuote}}

                <hr class="divider">
                {{> exploreOpportunities}}
            </div>


            <div id="fragment-4">
                {{> aboutUs}}

                <hr class="divider">
                {{> ourCommitment}}

                <hr class="divider">
                {{> ourCulture}}

                <hr class="divider">
                {{> ourInitiatives}}

                <hr class="divider">
                {{> perksAndBenefits}}

                <hr class="divider">
                {{> bestPractices}}

                <hr class="divider">
                {{> testimonialQuote}}

                <hr class="divider">
                {{> exploreOpportunities}}

            </div>
        </div>
    </div>

    <div id="myModal" class="modal hidden">

        <!-- Modal content -->
        <div class="modal_content" id="youtube_player">
            <div class="video_container">
                <span class="modal_close">&times;</span>
                <div id="player"></div>
            </div>

        </div>
    </div>

{{> footer}}
