{{> header}}
    <div class="main_container">
        
            <div id="fragment-1" >
                <!-- First Block -->
                <a id="first_block">
                <div class="block first">
                    <div class="heading ">
                        <h2>Our Commitment</h2>
                    </div>
                    <div class="content ">
                        <div class="primary_text col">
                            We have an underlying belief in inclusion and diversity. The diversity of our people is part of what makes Accenture exceptional. We recognize that each person has unique strengths. And by embracing those strengths, we all deliver high performance—together.</br></br>Inclusion and diversity are fundamental to our culture and core values at Accenture. We believe that no one should be discriminated against because of their differences, such as age, disability, ethnicity, gender, gender identity and expression, religion or sexual orientation.</br></br>Accenture also believes government laws, regulations and business practices should uphold the principles of diversity, inclusion and equality. While laws may vary in the countries where Accenture operates, we remain committed to an inclusive and diverse workplace—where people can feel comfortable, be themselves and, as a result, be productive.
                        </div>
                        <!-- <div class="image col">
                            <img src="static/images/image1-min.png" alt="">
                        </div> -->
                    </div>
                    <div class="content_mobile ">
                        <!-- <div class="image col">
                            <img src="static/images/image1-min.png" alt="">
                        </div> -->
                        <div class="primary_text col">
                            We have an underlying belief in inclusion and diversity. The diversity of our people is part of what makes Accenture exceptional. We recognize that each person has unique strengths. And by embracing those strengths, we all deliver high performance—together.</br></br>Inclusion and diversity are fundamental to our culture and core values at Accenture. We believe that no one should be discriminated against because of their differences, such as age, disability, ethnicity, gender, gender identity and expression, religion or sexual orientation.</br></br>Accenture also believes government laws, regulations and business practices should uphold the principles of diversity, inclusion and equality. While laws may vary in the countries where Accenture operates, we remain committed to an inclusive and diverse workplace—where people can feel comfortable, be themselves and, as a result, be productive.
                        </div>
                        <span class="read_more">See More</span>
                    </div>
                </div>
                </a>
                <!-- First Block Ends -->

                <!-- <hr class="divider"> -->

                <!-- Second Block -->
                <!-- <div class="block second">
                    <div class="heading ">
                        <h2>Our Culture</h2>
                    </div>
                    <div class="content ">
                        <div class="col image col_w_45 col_h_full pad_right  ">
                            <img src="static/images/image2-min.png" alt="">
                        </div>
                        <div class="col col_w_55 col_h_full pad_left">
                            <div class="image col_w_full col_h_half pad_bottom ">
                                <img src="static/images/image3-min.png" alt="">
                            </div>
                            <div class="col_w_full col_h_half pad_top">
                                <div class="image col col_w_half col_h_full pad_right ">
                                    <img src="static/images/image4-min.png" alt="">
                                </div>
                                <div class="image col col_w_half col_h_full pad_left ">
                                    <img src="static/images/image5-min.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_mobile">
                        <div class="col col_w_full pad_bottom">
                            <div class="image col_w_full col_h_half pad_bottom">
                                <img src="static/images/image3-min.png" alt="">
                            </div>
                            <div class="col_w_full col_h_half pad_top">
                                <div class="image col col_w_half col_h_full pad_right">
                                    <img src="static/images/image4-min.png" alt="">
                                </div>
                                <div class="image col col_w_half col_h_full pad_left">
                                    <img src="static/images/image5-min.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col image col_w_full pad_top">
                            <img src="static/images/image2-min.png" alt="">
                        </div>
                    </div>
                </div> -->
                <!-- Second Block Ends -->

                <!-- Third Block -->
                <div class="block third">
                    <div class="heading">
                        <h2>Our Initiatives</h2>
                    </div>
                    <div class="content">
                        <div class="col image">
                            <!--<img class="youtube_ico" src="/static/images/play-min.png" alt="">
                            <img src="/static/images/videoPlayer-min.png" alt=""> -->
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/KVYj0nhTnDw?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="col content_wrapper pad_left">
                            <div class="sub_heading">
                                <h3>The Path to Gender Equality</h3>
                            </div>
                            <div class="primary_text">
                                We believe the future workforce is an equal one. That’s why we’re committed to a gender-balanced workforce by 2025 and growing the percentage of women managing directors globally to 25% by 2020.
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="col content_wrapper pad_right">
                            <div class="sub_heading">
                                <h3>#InclusionStartsWithI</h3>
                            </div>
                            <div class="primary_text">
                                It’s important that every single person feels like they belong and feels included. We have taken a step in this direction with #InclusionStartsWithI – an ongoing conversation to create a positive and inclusive workplace. And it starts with you.</br></br>Join the conversation and pledge your commitment towards inclusion. Don’t forget to share it with your friends! Because, inclusion makes us all stronger.
                            </div>
                        </div>
                        <div class="col image">
                            <!--<img class="youtube_ico" src="/static/images/play-min.png" alt="">
                            <img src="/static/images/videoPlayer-min.png" alt=""> -->
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/qMUiqDPQjWE?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- <div class="content">
                        <div class="col image">
                            <img class="youtube_ico" src="/static/images/play-min.png" alt="">
                            <img src="/static/images/videoPlayer-min.png" alt="">
                        </div>
                        <div class="col content_wrapper pad_left">
                            <div class="sub_heading">
                                <h3>Women's Local Community</h3>
                            </div>
                            <div class="primary_text">
                                In our local offices, women’s employee resource groups drive initiatives and programs to support women at the location and help them build strong networks, both within Accenture and with the broader community.
                            </div>
                        </div>
                    </div> -->
                    <div class="content_mobile">
                        <div class="col content_wrapper">
                            <div class="sub_heading">
                                <h3>The Path to Gender Equality</h3>
                            </div>
                            <div class="primary_text">
                                We believe the future workforce is an equal one. That’s why we’re committed to a gender-balanced workforce by 2025 and growing the percentage of women managing directors globally to 25% by 2020.
                            </div>
                        </div>
                        <div class="col image">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/KVYj0nhTnDw?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="content_mobile">
                        <div class="col content_wrapper">
                            <div class="sub_heading">
                                <h3>#InclusionStartsWithI</h3>
                            </div>
                            <div class="primary_text">
                                It’s important that every single person feels like they belong and feels included. We have taken a step in this direction with #InclusionStartsWithI – an ongoing conversation to create a positive and inclusive workplace. And it starts with you.</br></br>Join the conversation and pledge your commitment towards inclusion. Don’t forget to share it with your friends! Because, inclusion makes us all stronger.
                            </div>
                        </div>
                        <div class="col image">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/qMUiqDPQjWE?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- <div class="content_mobile">
                        <div class="col content_wrapper">
                            <div class="sub_heading">
                                <h3>Women's Local Community</h3>
                            </div>
                            <div class="primary_text">
                                In our local offices, women’s employee resource groups drive initiatives and programs to support women at the location and help them build strong networks, both within Accenture and with the broader community.
                            </div>
                        </div>
                        <div class="col image">
                            <img class="youtube_ico" src="/static/images/play-min.png" alt="">
                            <img src="/static/images/videoPlayer-min.png" alt="">
                        </div>
                    </div> -->
                </div>
                <!-- Third Block Ends -->

                <!-- Fourth Block -->
                <div class="block fourth">
                    <div class="image_left">
                        <img src="/static/images/snow1.png" alt="">
                    </div>
                    <div class="col col_w_half content_wrapper">
                        <div class="heading">
                            <h2>Perks and Benefits</h2>
                        </div>
                        <div class="primary_text">
                            <p>We recognize the unique needs of professionals in the workplace and provide them with various perks and benefits</p>
                        </div>
                    </div>
                    <div class="col col_w_half slider_fourth">
                        <div class="row">
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">>
                                        <i class=" icon-maternity"></i>
                                    </div>
                                    <div class="heading">Maternity Leave Policy</div>
                                    <!--<div class="text">To help you manage your everyday life better</div> -->
                                </div>
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-family"></i>
                                    </div>
                                    <div class="heading">Adoption and Surrogacy Leave</div>
                                    <!--<div class="text">To encourage balance between work and personal priorities</div> -->
                                </div>
                            </div>
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-flexi-policy"></i>
                                    </div>
                                    <div class="heading">Flexi Policy</div>
                                    <!--<div class="text">We develop customized training to meet the specific needs of our women.</div> -->
                                </div>
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-employe"></i>
                                    </div>
                                    <div class="heading">Employee Assistance Program</div>
                                    <!--<div class="text">Sixteen weeks of fully-paid maternity leave and can take part in the Maternity Returners Program.</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-vaahini-woman-internal-network"></i>
                                    </div>
                                    <div class="heading">Vaahini Women Internal Network</div>
                                    <!--<div class="text">To help you manage your everyday life better</div>-->
                                </div>
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-returning-mothers-program"></i>
                                    </div>
                                    <div class="heading">Returning Mothers Program</div>
                                    <!--<div class="text">To encourage balance between work and personal priorities</div>-->
                                </div>
                            </div>
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-gender-diversity"></i>
                                    </div>
                                    <div class="heading">Men as Advocates of Gender Diversity</div>
                                    <!--<div class="text">We develop customized training to meet the specific needs of our women.</div> -->
                                </div>
                                <div class="col col_w_half">
                                        <div class="icons">
                                            <i class="icon-lgbt"></i>
                                        </div>
                                        <div class="heading">LGBT Mentoring Program</div>
                                        <!--<div class="text">We develop customized training to meet the specific needs of our women.</div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="image_right">
                        <img src="/static/images/snow2.png" alt="">
                    </div>
                    <div class="col col_w_full slider_fourth_mobile">
                        <div class="row">
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">>
                                        <i class=" icon-maternity"></i>
                                    </div>
                                    <div class="heading">Maternity Leave Policy</div>
                                    <!-- <div class="text">To help you manage your everyday life better</div> -->
                                </div>
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-family"></i>
                                    </div>
                                    <div class="heading">Adoption and Surrogacy Leave</div>
                                    <!-- <div class="text">To encourage balance between work and personal priorities</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-flexi-policy"></i>
                                    </div>
                                    <div class="heading">Flexi Policy</div>
                                    <!-- <div class="text">We develop customized training to meet the specific needs of our women.</div> -->
                                </div>
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-employe"></i>
                                    </div>
                                    <div class="heading">Employee Assistance Program</div>
                                    <!-- <div class="text">Sixteen weeks of fully-paid maternity leave and can take part in the Maternity Returners Program.</div>-->
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-vaahini-woman-internal-network"></i>
                                    </div>
                                    <div class="heading">Vaahini Women Internal Network</div>
                                    <!-- <div class="text">We develop customized training to meet the specific needs of our women.</div> -->
                                </div>
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-returning-mothers-program"></i>
                                    </div>
                                    <div class="heading">Returning Mothers Program</div>
                                    <!-- <div class="text">Sixteen weeks of fully-paid maternity leave and can take part in the Maternity Returners Program.</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col_container">
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-gender-diversity"></i>
                                    </div>
                                    <div class="heading">Men as Advocates of Gender Diversity</div>
                                    <!-- <div class="text">We develop customized training to meet the specific needs of our women.</div> -->
                              </div>
                                <div class="col col_w_half">
                                    <div class="icons">
                                        <i class="icon-lgbt"></i>
                                    </div>
                                    <div class="heading">LGBT Mentoring Program</div>
                                    <!-- <div class="text">We develop customized training to meet the specific needs of our women.</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="image_right">
                        <img src="/static/images/snow2.png" alt="">
                    </div> -->
                </div>
                <!-- Fourth Block Ends -->

                <hr class="divider">

                <!-- Fifth Block -->
                <!-- <div class="block fifth">
                    <div class="heading">
                        <h2>Best Practices</h2>
                    </div>
                    <div class="image">
                        <img src="static/images/bestPractices-min.jpg" alt="">
                        <div class="content_wrapper">
                            <div class="sub_heading">
                                Start your journey back to work with Accenture’s <span>Maternity Returners Program<span>
                            </div>
                            <div class="primary_text">
                                Building a family requires a different approach to how a professional manages everyday life and Accenture recognizes this by providing a program that helps ease the transition back into the workforce by providing career guidance and support for finding ideal re-entry roles. Learn more about we provide a progressive workplace that supports a variety of modern lifestyles. ​ ​
                            </div>
                            <div class="button">
                                Know More
                            </div>
                        </div>
                    </div>
                </div> -->
                 <!-- Fifth Block Ends  -->

                <!-- Sixth Block  -->
                <div class="block sixth">
                    <div class="heading">
                        <h2>Meet Our Women</h2>
                    </div>
                    <div class="center_slider">
                        <div class="slides">
                            <div class="image" id="garima-story">
                                <!-- <img src="static/images/Employee-story_ Garima.png" alt=""> -->
                                <div class="content_wrapper">
                                    <!-- <div class="sub_heading">
                                        Start your journey back to work with Accenture’s <span>Maternity Returners Program<span>
                                    </div> -->
                                    <div class="primary_text">
                                        <span class="left_quote"><i class="icon-left_comma"></i></span>
                                            I have been with Accenture for more than five years and I like the diversified role that I play. By offering diversified roles, which gave me the opportunity to learn different processes other than my forte is the way Accenture groomed me into becoming a leader.
                                            I believe being a woman in this industry, one can contribute in creating a positive work environment and my one advice to all women considering a career in this industry is to join and be a part of the Accenture family. ​ 
                                        <span class="right_quote"><i class="icon-right_comma"></i></span>​
                                    </div>
                                    <div>
                                        <p class="name">Garima Dhingra, SAP HR Functional Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slides">
                            <div class="image" id="pooja-story">
                                <!-- <img src="static/images/Employee-story_ Pooja.png" alt=""> -->
                                <div class="content_wrapper">
                                    <!-- <div class="sub_heading">
                                        Start your journey back to work with Accenture’s <span>Maternity Returners Program<span>
                                    </div> -->
                                    <div class="primary_text">
                                            <span class="left_quote"><i class="icon-left_comma"></i></span>
                                            I am about to complete six years and I love working with the dynamic team members on my project, and the learning opportunities that I have got over the years at Accenture. The experience of working with different teams  and the leadership opportunities that I’ve got over the last six years at Accenture, have helped me become a better individual—both personally and professionally. 
                                            <br><br>
                                            The best part about being a woman in the IT  industry is having an extra edge when it comes to multitasking which enhances their productivity. Accenture offers many benefits to its women employees such as maternity leave, surrogacy leave etc. and it also ensures safety for its women employees by having an in-house  transportation facility. ​ ​
                                            <span class="right_quote"><i class="icon-right_comma"></i></span>​
                                    </div>
                                    <div>
                                        <p class="name">Pooja Gupta, IT Operations Sr. Analyst</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <!-- <div class="slides">
                            <div class="image quotes-img">
                                <img  src="/static/images/quotes-min.jpg" alt="">
                            </div>
                            <div class="image profile-img">
                                <img src="/static/images/profile-dummy-min.jpg" alt="">
                            </div>
                            <div class="content_wrapper">
                                <div class="sub_heading">Ashima Kapur, CEO</div>
                                <div class="primary_text">
                                    Building a family requires a different approach to how a professional manages everyday life and Accenture recognizes this by providing a program that helps ease the transition back into the workforce by providing career guidance and support for finding ideal re-entry roles. Learn more about we provide a progressive workplace that supports a variety of modern lifestyles.
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Sixth Block Ends -->

                <hr class="divider">

                <!-- Seventh Block -->
                <div class="block seventh">
                    <div class="heading">
                        <h2>Explore Opportunities at Accenture</h2>
                    </div>
                    <div class="sub_content">
                        We believe that each one of us should be able to find our dream job, and we constantly strive hard to make that possible. Apply now
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-general-manager-bpo-transitions-pre-sales-solutions-12-16-yrs-543458.html?ref=ecp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                    <i class="icon-bpo"></i>
                                </div>
                                <div class="primary_text">
                                    Accenture - General Manager - BPO Transitions/Pre Sales &amp; Solutions
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 12-16 yrs</p>
                                    <p>Location: Bangalore</p>
                                </div>
                            </div>
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-general-manager-avp-transition-solutions-architect-13-16-yrs-538813.html?ref=ecp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                    <i class="icon-bpo"></i>
                                </div>
                                <div class="primary_text">
                                    Accenture - General Manager/AVP - Transition Solutions Architect
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 13-16 yrs</p>
                                    <p>Location: Bangalore</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-avp-vp-tower-lead-global-operating-leader-rtr-p2p-otc-13-20-yrs-537793.html?ref=pp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt="">
                                     -->
                                     <i class="icon-bpo"></i>

                                </div>
                                <div class="primary_text">
                                    Accenture - AVP/VP - Tower Lead/Global Operating Leader - RTR/P2P/OTC 
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 13-20 yrs</p>
                                    <p>Location: Gurgaon/Gurugram</p>
                                </div>
                            </div>
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-service-delivery-lead-account-payable-bpo-operation-13-18-yrs-528233.html?ref=pp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                    <i class="icon-bpo"></i>

                                </div>
                                <div class="primary_text">
                                    Accenture - Service Delivery Lead - Account Payable - BPO Operation 
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 3-18 yrs</p>
                                    <p>Location: Gurgaon/Gurugram</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-vice-president-lss-lean-six-sigma-transformation-robotic-process-automation-12-20-yrs-520373.html?ref=ecp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                    <i class="icon-consulting"></i>
                                </div>
                                <div class="primary_text">
                                    Accenture - Vice President - LSS/Lean Six Sigma Transformation/Robotic Process Automation
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 12-20 yrs</p>
                                    <p>Location: Delhi/NCR/Bangalore/Chennai</p>
                                </div>
                            </div>
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-vice-president-finance-account-bpo-operation-ca-hotel-industry-16-22-yrs-519788.html?ref=pp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                    <i class="icon-banking"></i>
                                </div>
                                <div class="primary_text">
                                    Accenture - Vice President - Finance &amp; Account - BPO Operation - CA - Hotel Industry
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 16-22 yrs</p>
                                    <p>Location: Delhi/NCR/Gurgaon</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-finance-accounts-r2r-p2p-o2c-service-delivery-leaders-14-18-yrs-516119.html?ref=pp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                    <i class="icon-banking"></i>
                                </div>
                                <div class="primary_text">
                                    Accenture - Finance &amp; Accounts - R2R/P2P/O2C - Service Delivery Leaders
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 14-18 yrs</p>
                                    <p>Location: Delhi/NCR/Bangalore/Hyderabad/Chennai/Noida</p>
                                </div>
                            </div>
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-finance-specialist-global-corporate-function-financial-planning-analysis-4-7-yrs-497485.html?ref=pp" target="_blank"></a>
                                <div class="image">
                                    <i class="icon-banking"></i>
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                </div>
                                <div class="primary_text">
                                    Accenture - Finance Specialist - Global Corporate Function Financial Planning &amp; Analysis
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 4-7 yrs</p>
                                    <p>Location: Pune</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-gm-vp-interactive-creative-director-10-18-yrs-497679.html?ref=pp" target="_blank"></a>
                                <div class="image">
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                    <i class="icon-sales"></i>
                                </div>
                                <div class="primary_text">
                                    Accenture - GM/VP - Interactive Creative Director
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 10-18 yrs</p>
                                    <p>Location: Mumbai</p>
                                </div>
                            </div>
                            <div class="col">
                                <a href="https://www.iimjobs.com/j/accenture-vice-president-fa-analytics-lead-15-18-yrs-515076.html?ref=pp" target="_blank"></a>
                                <div class="image">
                                    <i class="icon-banking"></i>
                                    <!-- <img src="/static/images/job-icon-min.png" alt=""> -->
                                </div>
                                <div class="primary_text">
                                    Accenture - Vice President - F&amp;A Analytics Lead
                                </div>
                                <div class="secondary_text">
                                    <p>Experience: 15-18 yrs</p>
                                    <p>Location: Bangalore</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Seventh Block Ends -->
            </div>
    </div>


    <div id="myModal" class="modal hidden">

        <!-- Modal content -->
        <div class="modal_content" id="youtube_player">
            <div class="video_container">
                <span class="modal_close">&times;</span>
                <div id="player"></div>
            </div>

        </div>
    </div>

{{> footer}}
