<div class="block second">
    <div class="heading">
        <h2>Our Culture</h2>
    </div>
    <div class="content">
        <div class="col image col_w_45 col_h_full pad_right  ">
            <img src="static/images/image2-min.jpg" alt="">
        </div>
        <div class="col col_w_55 col_h_full pad_left">
            <div class="image col_w_full col_h_half pad_bottom ">
                <img src="static/images/image3-min.jpg" alt="">
            </div>
            <div class="col_w_full col_h_half pad_top">
                <div class="image col col_w_half col_h_full pad_right ">
                    <img src="static/images/block-third-img-3.jpg" alt="">
                </div>
                <div class="image col col_w_half col_h_full pad_left ">
                    <img src="static/images/image4-min.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content_mobile">
        <div class="col col_w_full pad_bottom">
            <div class="image col_w_full col_h_half pad_bottom">
                <img src="static/images/image3-min.jpg" alt="">
            </div>
            <div class="col_w_full col_h_half pad_top">
                <div class="image col col_w_half col_h_full pad_right">
                    <img src="static/images/block-third-img-3.jpg" alt="">
                </div>
                <div class="image col col_w_half col_h_full pad_left">
                    <img src="static/images/image4-min.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col image col_w_full pad_top">
            <img src="static/images/image2-min.jpg" alt="">
        </div>
    </div>
</div>
