<div class="block third">
    <div class="heading">
        <h2>Our Initiatives</h2>
    </div>
    <div class="content">
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-min.jpg" alt="">
            <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/KVYj0nhTnDw?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        </div>
        <div class="col content_wrapper pad_left">
            <div class="sub_heading">
                <h3>CENTURION</h3>
            </div>
            <div class="primary_text">
                An unprecedented talent management program aimed at nurturing home grown talent in to future women leaders
            </div>
        </div>
    </div>
    <div class="content">
        <div class="col content_wrapper pad_right">
            <div class="sub_heading">
                <h3>ASPIRE</h3>
            </div>
            <div class="primary_text">
                 Programs for cross functional experience to build executive presence and capability to manage multiple roles
            </div>
        </div>
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-1-min.jpg" alt="">
            <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/qMUiqDPQjWE?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        </div>
    </div>
    <div class="content">
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-2-min.jpg" alt="">
        </div>
        <div class="col content_wrapper pad_left">
            <div class="sub_heading">
                <h3>VOICES</h3>
            </div>
            <div class="primary_text">
                A Powerful Workshop for Women Leaders to navigate the corporate environment and create work life balance
            </div>
        </div>
    </div>

    <div class="content">

        <div class="col content_wrapper pad_right">
            <div class="sub_heading">
                <h3>#SheerPower</h3>
            </div>
            <div class="primary_text">
                A Social media platform to showcase stories of woman displaying courage and compassion across the organization
            </div>
        </div>
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-3-min.jpg" alt="">
        </div>
    </div>
    <div class="content">
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-4-min.jpg" alt="">
        </div>
        <div class="col content_wrapper pad_left">
            <div class="sub_heading">
                <h3>Learning Programs</h3>
            </div>
            <div class="primary_text">
                A structured roadmap for learning called “Empower, Inspire, TransforMe &amp; Beyond Horizon
            </div>
        </div>
    </div>

    <div class="content_mobile">
        <div class="col content_wrapper">
            <div class="sub_heading">
                <h3>CENTURION</h3>
            </div>
            <div class="primary_text">
                An unprecedented talent management program aimed at nurturing home grown talent in to future women leaders
            </div>
        </div>
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-min.jpg" alt="">
        </div>
    </div>
    <div class="content_mobile">
        <div class="col content_wrapper">
            <div class="sub_heading">
                <h3>ASPIRE</h3>
            </div>
            <div class="primary_text">
                Programs for cross functional experience to build executive presence and capability to manage multiple roles
            </div>
        </div>
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-1-min.jpg" alt="">
        </div>
    </div>
    <div class="content_mobile">
        <div class="col content_wrapper">
            <div class="sub_heading">
                <h3>VOICES</h3>
            </div>
            <div class="primary_text">
                A Powerful Workshop for Women Leaders to navigate the corporate environment and create work life balance
            </div>
        </div>
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-2-min.jpg" alt="">
        </div>
    </div>
    <div class="content_mobile">
        <div class="col content_wrapper">
            <div class="sub_heading">
                <h3>#SheerPower</h3>
            </div>
            <div class="primary_text">
                A Social media platform to showcase stories of woman displaying courage and compassion across the organization                            </div>
        </div>
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-3-min.jpg" alt="">
        </div>
    </div>
    <div class="content_mobile">
        <div class="col content_wrapper">
            <div class="sub_heading">
                <h3>Learning Programs</h3>
            </div>
            <div class="primary_text">
                A structured roadmap for learning called “Empower, Inspire, TransforMe &amp; Beyond Horizon
            </div>
        </div>
        <div class="col image">
            <!-- <img class="youtube_ico" src="static/images/play-min.png" alt=""> -->
            <img src="static/images/videoPlayer-4-min.jpg" alt="">
        </div>
    </div>
</div>