<div class="block third">
    <div class="heading">
        <h2>Inclusion &amp; Diversity @ GSK Consumer Healthcare India </h2>
    </div>
    {{#initiatives.length}}
        {{#initiatives}}
            {{#left}}
                {{> initiativeLeft}}
            {{/left}}
            {{^left}}
                {{> initiativeRight}}
            {{/left}}
        {{/initiatives}}
    {{/initiatives.length}}

    {{#initiatives.length}}
        {{#initiatives}}
            {{> initiativeMobile}}
        {{/initiatives}}
    {{/initiatives.length}}
</div>
