<div class="block fourth">
    <div class="image">
        <img src="static/images/snow-min.png" alt="">
    </div>
    <div class="col col_w_half content_wrapper">
        <div class="heading">
            <h2>Perks and Benefits</h2>
        </div>
        <div class="primary_text">
            <p>We recognize the unique needs of professionals in the workplace and provide them with various perks and benefits</p>
        </div>
    </div>
    <div class="col col_w_half slider_fourth">
        <div class="row">
            {{#perkObj.perks-1.length}}
                {{#perkObj.perks-1}}
                    {{> perk}}
                {{/perkObj.perks-1}}
            {{/perkObj.perks-1.length}}
            {{#perkObj.perks-2.length}}
                {{#perkObj.perks-2}}
                    {{> perk}}
                {{/perkObj.perks-2}}
            {{/perkObj.perks-2.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-3.length}}
                {{#perkObj.perks-3}}
                    {{> perk}}
                {{/perkObj.perks-3}}
            {{/perkObj.perks-3.length}}
            {{#perkObj.perks-4.length}}
                {{#perkObj.perks-4}}
                    {{> perk}}
                {{/perkObj.perks-4}}
            {{/perkObj.perks-4.length}}
        </div>
    </div>
    <div class="col col_w_full slider_fourth_mobile">
        <div class="row">
            {{#perkObj.perks-1.length}}
                {{#perkObj.perks-1}}
                    {{> perk}}
                {{/perkObj.perks-1}}
            {{/perkObj.perks-1.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-2.length}}
                {{#perkObj.perks-2}}
                    {{> perk}}
                {{/perkObj.perks-2}}
            {{/perkObj.perks-2.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-3.length}}
                {{#perkObj.perks-3}}
                    {{> perk}}
                {{/perkObj.perks-3}}
            {{/perkObj.perks-3.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-4.length}}
                {{#perkObj.perks-4}}
                    {{> perk}}
                {{/perkObj.perks-4}}
            {{/perkObj.perks-4.length}}
        </div>
    </div>
</div>
