<div class="block fourth">
    <div class="image">
        <img src="static/images/snow-min.png" alt="">
    </div>
    <div class="col col_w_half content_wrapper">
        <div class="heading">
            <h2>Perks and Benefits</h2>
        </div>
        <div class="primary_text">
            <p>One of our core values is respect and we aim to put inclusion and diversity at the heart of everything we do.</br></br>By creating an environment where everyone’s voice is heard and each person is able to achieve their full potential, we believe we will perform better as a company.</p>
        </div>
    </div>
    <div class="col col_w_half slider_fourth">
        <div class="row">
            {{#perkObj.perks-1.length}}
                {{#perkObj.perks-1}}
                    {{> perk}}
                {{/perkObj.perks-1}}
            {{/perkObj.perks-1.length}}
            {{#perkObj.perks-2.length}}
                {{#perkObj.perks-2}}
                    {{> perk}}
                {{/perkObj.perks-2}}
            {{/perkObj.perks-2.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-3.length}}
                {{#perkObj.perks-3}}
                    {{> perk}}
                {{/perkObj.perks-3}}
            {{/perkObj.perks-3.length}}
            {{#perkObj.perks-4.length}}
                {{#perkObj.perks-4}}
                    {{> perk}}
                {{/perkObj.perks-4}}
            {{/perkObj.perks-4.length}}
        </div>
    </div>
    <div class="col col_w_full slider_fourth_mobile">
        <div class="row">
            {{#perkObj.perks-1.length}}
                {{#perkObj.perks-1}}
                    {{> perk}}
                {{/perkObj.perks-1}}
            {{/perkObj.perks-1.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-2.length}}
                {{#perkObj.perks-2}}
                    {{> perk}}
                {{/perkObj.perks-2}}
            {{/perkObj.perks-2.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-3.length}}
                {{#perkObj.perks-3}}
                    {{> perk}}
                {{/perkObj.perks-3}}
            {{/perkObj.perks-3.length}}
        </div>
        <div class="row">
            {{#perkObj.perks-4.length}}
                {{#perkObj.perks-4}}
                    {{> perk}}
                {{/perkObj.perks-4}}
            {{/perkObj.perks-4.length}}
        </div>
    </div>
</div>
