<div class="block sixth">
    <div class="heading">
        <h2>Meet Your Colleagues</h2>
    </div>
    <div class="center_slider">
        <div class="slides">
            <div class="image quotes-img">
                <img  src="static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="static/images/3.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">
                    <div class="pad_bot">Shivani Marwaha</div>
                    <div class="designation">GM Consumer Insights</div>
                </div>
                <div class="primary_text">
                    Inclusion &amp; Diversity agenda for any organization is not just important but absolutely critical in today’s corporate environment especially when the gender distribution in India shows an upward trend in the ratio of women to men.In my career I have seen that maintaining a balance of gender in teams is what enables diverse cross pollination of Ideas and solutions to business issues and helps maintain a balanced work environment.GSK Consumer Healthcare displays a gender balance in their leadership teams, which makes it an aspirational places to work in.
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="image quotes-img">
                <img  src="static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="static/images/shubhra.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">
                    <div class="pad_bot">Shubhra Ghai</div>
                    <div class="designation">Country Regulatory Manager, Regulatory Affairs</div>
                </div>
                <div class="primary_text">
                    Women are increasingly becoming more ambitious and confident to achieve their career aspirations.GSKCH fosters an inclusive and diverse environment which gives women employees equal opportunities to reach their full-potential and at the same time bringing cognitive diversity to the workplace for enhanced creativity, fueling growth and progression of the organization.Personally, GSKCH has enabled me to take stronger, poised strides by providing strategic support and much-needed balance, free of any bias, conscious or unconscious, to advance and succeed.
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="image quotes-img">
                <img  src="static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="static/images/isha.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">
                    <div class="pad_bot">Isha Jain</div>
                    <div class="designation">Customer Marketing Manager, Sales</div>
                </div>
                <div class="primary_text">
                    I joined GSK in 2014 from campus and became the first female ASM, which was a critical foundation  building role, in the company after almost 20 years.It was an enriching experience as I got to work with and learn from people from different backgrounds and industries.GSK believes that driving Inclusion &amp; Diversity can be a source of strength and with each passing year more & more female employees are being encouraged to take up field roles.
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="image quotes-img">
                <img  src="static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="static/images/anubhuti.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">
                    <div class="pad_bot">Anubhuti Santani</div>
                    <div class="designation">National Customer Marketing Manager, Sales</div>
                </div>
                <div class="primary_text">
                    Gender diversity is a term we hear very often in organizations these days.I’ve been working for 13 years in FMCG sales and have come across various occasions where people have had biases, but I have successfully been able to overcome these biases with supportive managers.There were times where I think I had to go the extra mile just to prove that women can do better than men, especially in roles which are perceived to be more “male centric”. It is very important to drive the concept of Inclusion &amp; Diversity across every employee, to build this as an organization culture.
                </div>
            </div>
        </div>
     </div>
 </div>
