<div class="block sixth">
    <div class="heading">
        <h2>Meet Our Women</h2>
    </div>
    <div class="center_slider">
        <div class="slides">
            <div class="image" id="garima-story">
                <!-- <img src="static/images/Employee-story_ Garima.png" alt=""> -->
                <div class="content_wrapper">
                    <!-- <div class="sub_heading">
                        Start your journey back to work with Accenture’s <span>Maternity Returners Program<span>
                    </div> -->
                    <div class="primary_text">
                        <span class="left_quote"><i class="icon-left_comma"></i></span>
                            I have been with Accenture for more than five years and I like the diversified role that I play. By offering diversified roles, which gave me the opportunity to learn different processes other than my forte is the way Accenture groomed me into becoming a leader.
                            I believe being a woman in this industry, one can contribute in creating a positive work environment and my one advice to all women considering a career in this industry is to join and be a part of the Accenture family. ​ 
                        <span class="right_quote"><i class="icon-right_comma"></i></span>​
                    </div>
                    <div>
                        <p class="name">Garima Dhingra, SAP HR Functional Consultant</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="image" id="pooja-story">
                <!-- <img src="static/images/Employee-story_ Pooja.png" alt=""> -->
                <div class="content_wrapper">
                    <!-- <div class="sub_heading">
                        Start your journey back to work with Accenture’s <span>Maternity Returners Program<span>
                    </div> -->
                    <div class="primary_text">
                            <span class="left_quote"><i class="icon-left_comma"></i></span>
                            I am about to complete six years and I love working with the dynamic team members on my project, and the learning opportunities that I have got over the years at Accenture. The experience of working with different teams  and the leadership opportunities that I’ve got over the last six years at Accenture, have helped me become a better individual—both personally and professionally. 
                            <br><br>
                            The best part about being a woman in the IT  industry is having an extra edge when it comes to multitasking which enhances their productivity. Accenture offers many benefits to its women employees such as maternity leave, surrogacy leave etc. and it also ensures safety for its women employees by having an in-house  transportation facility. ​ ​
                            <span class="right_quote"><i class="icon-right_comma"></i></span>​
                    </div>
                    <div>
                        <p class="name">Pooja Gupta, IT Operations Sr. Analyst</p>
                    </div>
                </div>
            </div>  
        </div>
        <!-- <div class="slides">
            <div class="image quotes-img">
                <img  src="/static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="/static/images/profile-dummy-min.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">Ashima Kapur, CEO</div>
                <div class="primary_text">
                    Building a family requires a different approach to how a professional manages everyday life and Accenture recognizes this by providing a program that helps ease the transition back into the workforce by providing career guidance and support for finding ideal re-entry roles. Learn more about we provide a progressive workplace that supports a variety of modern lifestyles.
                </div>
            </div>
        </div> -->
    </div>
</div>