<div class="block sixth">
    <div class="heading">
        <h2>Meet Our Women</h2>
    </div>
    <div class="center_slider">
        <div class="slides">
            <div class="image quotes-img">
                <img  src="/static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="/static/images/profile-dummy-min.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">Ashima Kapur, CEO</div>
                <div class="primary_text">
                    Building a family requires a different approach to how a professional manages everyday life and Accenture recognizes this by providing a program that helps ease the transition back into the workforce by providing career guidance and support for finding ideal re-entry roles. Learn more about we provide a progressive workplace that supports a variety of modern lifestyles.
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="image quotes-img">
                <img  src="/static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="/static/images/profile-dummy-min.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">Ashima Kapur, CEO</div>
                <div class="primary_text">
                    Building a family requires a different approach to how a professional manages everyday life and Accenture recognizes this by providing a program that helps ease the transition back into the workforce by providing career guidance and support for finding ideal re-entry roles. Learn more about we provide a progressive workplace that supports a variety of modern lifestyles.
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="image quotes-img">
                <img  src="/static/images/quotes-min.jpg" alt="">
            </div>
            <div class="image profile-img">
                <img src="/static/images/profile-dummy-min.jpg" alt="">
            </div>
            <div class="content_wrapper">
                <div class="sub_heading">Ashima Kapur, CEO</div>
                <div class="primary_text">
                    Building a family requires a different approach to how a professional manages everyday life and Accenture recognizes this by providing a program that helps ease the transition back into the workforce by providing career guidance and support for finding ideal re-entry roles. Learn more about we provide a progressive workplace that supports a variety of modern lifestyles.
                </div>
            </div>
        </div>
     </div>
 </div>
