<div class="block ninth">
    <div class="heading">
        <h2>Best Practices</h2>
    </div>
    <div class="center_slider">
        <div class="slides">
            <div class="slides-wrapper">
                <div class="l_slide_blk">

                </div>
                <div class="r_slide_blk">

                </div>

            </div>
        </div>
        <div class="slides">
            <div class="slides-wrapper">
                <div class="l_slide_blk">

                </div>
                <div class="r_slide_blk">

                </div>

            </div>
        </div>
        <div class="slides">
            <div class="slides-wrapper">
                <div class="l_slide_blk">

                </div>
                <div class="r_slide_blk">

                </div>

            </div>
        </div>
    </div>
</div>
