<div class="block ninth">
    <div class="heading">
        <h2>Best Practices</h2>
    </div>
    <div class="center_slider_best">
        <div class="slides">
            <div class="slides-wrapper">
                <div class="l_slide_blk">
                    <img src="static/images/befirst.jpg" alt="">
                </div>
                <div class="r_slide_blk">
                    <div class="be_heading">
                        Inclusion &amp; Diversity Week
                    </div>
                    <div class="primary_text be_para">Inclusion &amp; Diversity week is organized every year, to promote a culture of I&amp;D and strengthen our commitment. This includes a holistic set of events conducted across locations under different campaigns curated for the year, with focus the years I&amp;D agenda. The week I designed to promote Inclusion &amp; Diversity and help our employees seek, value and draw on the differing knowledge, perspectives, experiences and styles resident in our community.<br><br></div>
                    <div class="primary_text be_para">
                        In 2017, we witnessed the formation of an I&amp;D council chaired by lead by Area Supply Chain Lead, ISC for India CH. The Inclusion &amp; Diversity council with their extensive business experience and passion for this agenda, worked over the year to educate employees on POSH, EQ and we celebrated through the StrongInsideWinOutside champaign, ensuring we make a real difference and talk and advocate for gender equality at GSK CH.<br><br>
                    </div>
                    <div class="primary_text be_para">
                        In 2018 GSKCH took a step forward towards managing unconscious biases. With that goal, the theme for this year is #bethevoice –voices against any conscious or unconscious biases we see against gender, age, sexual orientation, ethnicity or religion to name a few.  With Townhall lead by leadership : Area GM ISC &amp; Area SC Lead addressing 530 employees across locations, External speaker : Deepa Malik, Co-Creating Happiness workshop and Play on unconscious biases.<br><br>
                    </div>
                </div>

            </div>
        </div>
        <div class="slides">
            <div class="slides-wrapper">
                <div class="l_slide_blk">
                    <img src="static/images/besecond.jpg" alt="">
                </div>
                <div class="r_slide_blk">
                    <div class="be_heading">
                        Sensitization workshops for people managers : Unconscious bias and POSH
                    </div>
                    <div class="primary_text be_para">
                        <span class="be_subheading">Unconscious bias:<br></span>
                        People Managers are critical to ensure an inclusive work environment for the employees. First Training Workshop on Unconscious Biases was conducted by our I&amp;D Partner –Community Business (Diversity In Asia Network). It covered training through roles plays around Gender, Disability, LGBT, Culture, Millennials and Others.<br><br></div>
                    <div class="primary_text be_para">
                        <span class="be_subheading">POSH:<br></span>
                        Creating a safe and respectful working environment is a key element of our Inclusion &amp; Diversity Agenda.<br><br>GSKCH conducted POSH – Prevention Of Sexual Harassment workshops in 2017. These workshops included sensitization sessions and open house discussions. Covering 98% employees through e-learning modules and 100% People Managers through face to face training.<br><br>The workshop enables employees to create a workplace free from harassment/discrimination.
                    </div>
                </div>

            </div>
        </div>
        <div class="slides">
            <div class="slides-wrapper">
                <div class="l_slide_blk">
                    <img src="static/images/bethird.jpg" alt="">
                </div>
                <div class="r_slide_blk">
                    <div class="be_heading">
                         New Parent Policy
                    </div>
                    <div class="primary_text be_para">GSK continues relentlessly to create an inclusive and diverse environment, empowering our employees to contribute to their full potential.The new parent policy covering maternity leave, paternity leave and adoption leave is a testimony of our commitment to our employees they are enabled to maintain a healthy balance between work and their personal life.<br><br></div>
                    <div class="primary_text be_para">
                        <span class="be_subheading">Maternity Leave:</span><br>
                            A female employee is eligible for maternity leave after working in the company for a period of 80 days or more, in the 12 months immediately preceding the date of her expected delivery.Female employees are granted maternity leave for 26 weeks for biological birth and surrogacy (commissioning mothers)<br><br>
                    </div>
                    <div class="primary_text be_para">
                        <span class="be_subheading">Paternity Leave:</span><br>
                        All permanent male employees are eligible for paternity leave for a duration of 14 days for biological and surrogacy.<br><br>
                    </div>
                    <div class="primary_text be_para">
                        <span class="be_subheading">Adoption Leave:</span><br>
                        A female employee is eligible for maternity leave after working in the company for a period of 80 days or more. The adoption leave is 26 weeks for a child of an age less than 6 months and in case of a child more than 6  months of age the employee is entitled for 12 weeks of leave.<br><br>All permanent males employees are eligible for 14 days of adoption leave.<br><br>For single male employees, in case of adoption of a child of age less than 6 months, they can avail 26 weeks of leave. In case of adoption of a child of age more than 6 months they can avail 12 weeks of leave.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
