@import url("https://fonts.googleapis.com/css?family=Lato|PT+Sans");
.slick-dots li {
  margin: 0;
  width: 25px; }
  .slick-dots li button:before {
    font-family: 'fontello';
    font-size: 50px; }

.slick-slide {
  outline: none; }

.slick-dots li.slick-active button:before, .slick-dots li button:focus {
  color: #da491c; }

.slick-slide img {
  display: block;
  width: 18%; }

.slick-dots li:not(.slick-active) button:hover {
  color: inherit;
  opacity: 0.3; }

@media (min-width: 320px) and (max-width: 767px) {
  .slick-dots li button:before {
    font-size: 30px; } }

.sixth .slick-dots {
  text-align: center; }

.sixth .slick-prev {
  background: url(/static/images/left-arrow.png);
  background-repeat: no-repeat; }

.sixth .slick-next {
  background: url(/static/images/right-arrow.png);
  background-repeat: no-repeat; }

.sixth .slick-prev, .sixth .slick-next {
  position: absolute;
  top: calc(125px + (100% - 175px)/2);
  display: block;
  width: 27px;
  height: 53px; }
  .sixth .slick-prev:before, .sixth .slick-next:before {
    content: ''; }
