.fifth {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }
  .fifth h2:after {
    width: 80px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%); }
  .fifth .heading {
    padding: 0 90px; }
  .fifth .image {
    position: relative;
    margin-top: 60px;
    width: 100%; }
  .fifth .sub_heading {
    padding: 0; }
    .fifth .sub_heading span {
      color: #da491c; }
  .fifth .content_wrapper {
    font-family: "Droid Sans", sans-serif;
    position: absolute;
    left: 90px;
    top: 0;
    bottom: 0;
    right: 30%;
    left: 0;
    padding: 30px;
    background-color: #fff;
    opacity: 0.9;
    overflow-y: auto; }
    .fifth .content_wrapper .pri_content {
      font-size: 24px;
      padding-bottom: 15px; }
    .fifth .content_wrapper .sec_content {
      font-size: 18px;
      padding-bottom: 25px;
      line-height: 1.4; }
    .fifth .content_wrapper ul {
      font-size: 18px;
      color: #2b2b2b;
      list-style: initial;
      padding-left: 22px; }
      .fifth .content_wrapper ul li {
        padding-bottom: 10px;
        line-height: 1.4; }
      .fifth .content_wrapper ul .primary_content {
        font-weight: 700;
        font-size: 19px; }
    .fifth .content_wrapper .primary_text {
      padding: 20px 0; }
    .fifth .content_wrapper .button {
      display: inline-block;
      padding: 0 20px;
      height: 45px;
      line-height: 45px;
      border-radius: 20px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #333; }

@media (min-width: 768px) and (max-width: 900px) {
  .fifth {
    padding-left: 0;
    padding-right: 0; }
    .fifth .content_wrapper {
      left: 0;
      top: 0;
      bottom: 0;
      right: 0; }
    .fifth .heading {
      padding-left: 70px;
      padding-right: 70px; }
    .fifth .sub_heading {
      padding-left: 0;
      padding-right: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  .fifth h2:after {
    width: 50px; }
  .fifth .image {
    margin-top: 25px; }
    .fifth .image img {
      display: none; }
  .fifth .content_wrapper {
    position: static;
    height: 700px;
    overflow-y: scroll;
    opacity: 1;
    background-color: #f8f8f8; } }

@media (min-width: 481px) and (max-width: 767px) {
  .fifth .heading {
    padding: 0 50px; }
  .fifth .content_wrapper {
    padding: 50px; } }

@media (min-width: 361px) and (max-width: 480px) {
  .fifth .heading {
    padding: 0 30px; }
  .fifth .content_wrapper {
    padding: 30px; } }

@media (min-width: 320px) and (max-width: 360px) {
  .fifth .heading {
    padding: 0 10px; }
  .fifth .content_wrapper {
    padding: 20px 30px; } }
