@import url("https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700");
@font-face {
  font-family: "MyriadProSemibold";
  src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaRegular";
  src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype"); }

.third {
  background-color: #f8f8f8; }
  .third .content_mobile {
    display: none; }
  .third h2:after {
    width: 30%;
    height: 2px;
    right: 20%;
    left: unset; }
  .third .content {
    padding: 50px 0;
    margin-top: 0; }
    .third .content:not(:nth-child(4)) {
      border-bottom: 1px solid #e2e2e2; }
  .third .content_wrapper {
    width: 60%; }
    .third .content_wrapper:nth-child(3) .image {
      text-align: right; }
  .third .image {
    width: 40%;
    position: relative; }
    .third .image .youtube_ico {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18%;
      height: 25%;
      cursor: pointer; }
  .third .pad_left {
    padding-left: 50px; }
  .third .pad_right {
    padding-right: 50px; }

@media (min-width: 320px) and (max-width: 767px) {
  .third .content_mobile {
    display: block;
    padding: 50px 0;
    margin-top: 0; }
    .third .content_mobile:not(:last-child) {
      border-bottom: 1px solid #e2e2e2; }
  .third .content {
    display: none; }
  .third .image {
    width: 100%; }
  .third .content_wrapper {
    width: 100%;
    padding-bottom: 40px; }
    .third .content_wrapper .sub_heading {
      padding: 0 0 20px 0; } }
