@import url("https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700");
@font-face {
  font-family: "MyriadProSemibold";
  src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaRegular";
  src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype"); }

.fourth {
  position: relative; }
  .fourth .slider_fourth_mobile {
    display: none; }
  .fourth .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: -1; }
    .fourth .image img {
      max-width: 100%;
      width: auto; }
  .fourth h2:after {
    width: 30%;
    height: 2px;
    left: 25%; }
  .fourth .content_wrapper .primary_text {
    margin-top: 40px;
    padding-right: 75px; }
  .fourth .col_container:first-child {
    padding-bottom: 50px; }
  .fourth .col_container .col {
    padding-right: 50px; }
  .fourth .col .heading {
    font-family: "Open Sans - Semibold";
    font-size: 17px;
    padding: 15px 0;
    color: #333; }
  .fourth .col .text {
    font-family: "ProximaRegular";
    font-size: 13px;
    line-height: 1.4;
    color: #999; }
  .fourth .slick-dots {
    text-align: left;
    left: -10px;
    bottom: -30px; }
  .fourth .slick-arrow {
    display: none !important; }

@media (min-width: 320px) and (max-width: 767px) {
  .fourth .col_container {
    padding-bottom: 0 !important; }
  .fourth .content_wrapper {
    width: 100%; }
    .fourth .content_wrapper .primary_text {
      padding: 0;
      margin: 40px 0; }
  .fourth .slider_fourth_mobile {
    display: block; }
  .fourth .slider_fourth {
    display: none; }
  .fourth .slick-dots {
    text-align: center; }
  .fourth .col_container .col {
    padding-right: 15px; } }
