@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700");
@font-face {
  font-family: "MyriadProSemibold";
  src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaRegular";
  src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype"); }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?86898682");
  src: url("../font/fontello.eot?86898682#iefix") format("embedded-opentype"), url("../font/fontello.woff2?86898682") format("woff2"), url("../font/fontello.woff?86898682") format("woff"), url("../font/fontello.ttf?86898682") format("truetype"), url("../font/fontello.svg?86898682#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?86898682#fontello') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-maternity:before {
  content: '\e800'; }

/* '' */
.icon-bpo:before {
  content: '\e801'; }

/* '' */
.icon-consulting:before {
  content: '\e802'; }

/* '' */
.icon-hr:before {
  content: '\e803'; }

/* '' */
.icon-legal:before {
  content: '\e804'; }

/* '' */
.icon-returning-mothers-program:before {
  content: '\e805'; }

/* '' */
.icon-sales:before {
  content: '\e806'; }

/* '' */
.icon-system:before {
  content: '\e807'; }

/* '' */
.icon-operation:before {
  content: '\e808'; }

/* '' */
.icon-banking:before {
  content: '\e809'; }

/* '' */
.icon-vaahini-woman-internal-network:before {
  content: '\e80a'; }

/* '' */
.icon-adoption-and-surrogacy-leave:before {
  content: '\e80b'; }

/* '' */
.icon-employee-assistance-program:before {
  content: '\e80c'; }

/* '' */
.icon-flexi-policy:before {
  content: '\e80d'; }

/* '' */
.icon-gender-diversity:before {
  content: '\e80e'; }

/* '' */
.icon-lgbt:before {
  content: '\e80f'; }

/* '' */
.second .content_mobile {
  display: none; }

.second h2:after {
  width: 30%;
  height: 2px;
  left: 50%;
  right: 0;
  transform: translate(-50%); }

.second .heading {
  text-align: center; }

.second .content {
  height: 650px; }

.second .pad_left {
  padding-left: 5px; }

.second .pad_right {
  padding-right: 5px; }

.second .pad_bottom {
  padding-bottom: 5px; }

.second .pad_top {
  padding-top: 5px; }

@media (min-width: 768px) and (max-width: 900px) {
  .second .content {
    height: 500px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .second .content_mobile {
    display: block; }
  .second .content {
    display: none; } }
