@import url("https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700");
@font-face {
  font-family: "MyriadProSemibold";
  src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaRegular";
  src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype"); }

.fourth {
  font-weight: 300;
  position: relative; }
  .fourth .slider_fourth_mobile {
    display: none; }
  .fourth .image_left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1; }
    .fourth .image_left img {
      width: 220px;
      height: 220px; }
  .fourth .image_right img {
    bottom: 0px;
    right: 0px;
    width: 220px;
    height: 220px;
    z-index: -1;
    position: absolute; }
  .fourth h2:after {
    width: 80px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%); }
  .fourth .content_wrapper .primary_text {
    margin-top: 40px;
    padding-right: 75px; }
  .fourth .col_container:first-child {
    padding-bottom: 50px; }
  .fourth .col_container:nth-child(2) {
    padding-bottom: 30px; }
  .fourth .col_container .col {
    padding-right: 50px; }
  .fourth .col .heading {
    font-family: "Lato";
    font-size: 17px;
    padding: 15px 0;
    color: #333;
    font-weight: 300;
    line-height: 1.6; }
  .fourth .slick-dots {
    text-align: left;
    left: -6px;
    bottom: -7px; }
  .fourth .slick-arrow {
    display: none !important; }

@media (min-width: 320px) and (max-width: 767px) {
  .fourth .image_left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1; }
    .fourth .image_left img {
      width: 130px;
      height: 130px; }
  .fourth .image_right {
    bottom: 0px;
    right: 0px;
    z-index: -1; }
    .fourth .image_right img {
      bottom: 0px;
      right: 0px;
      width: 130px;
      height: 130px;
      z-index: -1;
      position: absolute; }
  .fourth .col_container {
    padding-bottom: 0 !important; }
  .fourth .content_wrapper {
    width: 100%; }
    .fourth .content_wrapper .primary_text {
      padding: 0;
      margin: 40px 0; }
  .fourth .slider_fourth_mobile {
    display: block; }
  .fourth .slider_fourth {
    display: none; }
  .fourth .slick-dots {
    text-align: center;
    font-size: 30px; }
  .fourth .col_container .col {
    padding-right: 15px;
    padding-bottom: 15px; } }

@media (min-width: 320px) and (max-width: 480px) {
  .fourth h2 {
    left: 50%;
    transform: translateX(-50%); } }
