@import url("https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700");
@font-face {
  font-family: "MyriadProSemibold";
  src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaRegular";
  src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype"); }

.eigth {
  padding-top: 45px;
  background-color: #f8f8f8; }
  .eigth .content_mobile {
    display: none; }
  .eigth .heading {
    margin-left: calc(30% + 75px); }
  .eigth h2 {
    text-transform: uppercase; }
    .eigth h2:after {
      width: 30%;
      height: 2px;
      left: 10%;
      right: 0; }
  .eigth .primary_text {
    width: 70%;
    padding-left: 75px; }
  .eigth .image {
    width: 30%; }

@media (min-width: 320px) and (max-width: 767px) {
  .eigth .heading {
    margin-left: 0; }
  .eigth .content_mobile {
    display: block;
    position: relative; }
  .eigth .content {
    display: none; }
  .eigth .primary_text {
    width: 100%;
    padding: 0;
    height: 200px;
    overflow: hidden;
    position: relative; }
  .eigth .image {
    width: 100%;
    margin-bottom: 50px; } }
