@import url("https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700");
@font-face {
  font-family: "MyriadProSemibold";
  src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaRegular";
  src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype"); }

.seventh {
  background-color: #f8f8f8; }
  .seventh h2:after {
    width: 30%;
    height: 2px;
    left: 50%;
    right: 0;
    transform: translate(-50%); }
  .seventh .heading {
    text-align: center; }
  .seventh .sub_content {
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
    font-family: "ProximaRegular";
    line-height: 1.4;
    margin: 40px auto;
    max-width: 75%; }
  .seventh .content {
    width: 100%; }
    .seventh .content .row {
      font-size: 0;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px; }
    .seventh .content .col {
      display: inline-block;
      width: calc(50% - 10px);
      padding: 30px;
      border: 1px solid rgba(224, 224, 224, 0.5);
      background-color: #fff;
      cursor: pointer;
      position: relative;
      word-wrap: break-word; }
      .seventh .content .col:hover {
        border: 1px solid #da491c; }
        .seventh .content .col:hover .primary_text {
          color: #da491c; }
      .seventh .content .col:first-child {
        margin-right: 20px; }
      .seventh .content .col a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; }
    .seventh .content .image {
      max-width: 100px;
      max-height: 100px;
      width: 76px;
      height: 76px;
      border-radius: 50%;
      position: relative;
      background-color: #008ec5; }
      .seventh .content .image i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        .seventh .content .image i:before {
          color: #fff; }
    .seventh .content .primary_text {
      font-family: "MyriadProSemibold";
      font-size: 17px;
      color: #2b2b2b;
      margin: 20px 0;
      line-height: 1.4; }
    .seventh .content .secondary_text {
      font-family: "ProximaRegular";
      font-size: 13px;
      color: #999; }
      .seventh .content .secondary_text p {
        min-height: 20px; }

@media (min-width: 768px) and (max-width: 900px) {
  .seventh .content .row {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .seventh .content .row {
    margin-bottom: 0; }
  .seventh .content .col {
    margin-bottom: 10px;
    width: 100%; }
    .seventh .content .col:first-child {
      margin-right: 0; } }

@media (min-width: 361px) and (max-width: 480px) {
  .seventh .content .primary_text {
    font-size: 15px; }
  .seventh .content .secondary_text {
    font-size: 13px; }
  .seventh .content .image {
    width: 66px;
    height: 66px; } }

@media (min-width: 320px) and (max-width: 360px) {
  .seventh .content .primary_text {
    font-size: 13px; }
  .seventh .content .secondary_text {
    font-size: 11px; }
  .seventh .content .image {
    width: 56px;
    height: 56px; } }
