.block .image img {
  height: unset; }

.second {
  padding-bottom: 62px; }
  .second .content_mobile {
    display: none; }
  .second h2:after {
    width: 80px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%); }
  .second .heading {
    text-align: center; }
  .second .content {
    max-width: 1050px;
    margin: 50px auto 0 auto; }
  .second .pad_left {
    padding-left: 5px; }
  .second .pad_right {
    padding-right: 5px; }
  .second .pad_bottom {
    padding-bottom: 5px; }
  .second .pad_top {
    padding-top: 5px; }

@media (min-width: 320px) and (max-width: 767px) {
  .second h2:after {
    width: 50px; }
  .second .content_mobile {
    display: block; }
  .second .content {
    display: none; } }
