@import url("https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700");
@font-face {
  font-family: "MyriadProSemibold";
  src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaRegular";
  src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype"); }

.second .content_mobile {
  display: none; }

.second h2:after {
  width: 80px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%); }

.second .heading {
  text-align: center; }

.second .content {
  height: 650px;
  max-width: 1050px;
  margin: 50px auto 0 auto; }

.second .pad_left {
  padding-left: 5px; }

.second .pad_right {
  padding-right: 5px; }

.second .pad_bottom {
  padding-bottom: 5px; }

.second .pad_top {
  padding-top: 5px; }

@media (min-width: 768px) and (max-width: 899px) {
  .second .content {
    height: 400px; } }

@media (min-width: 900px) and (max-width: 1023px) {
  .second .content {
    height: 500px; } }

@media (min-width: 1024px) and (max-width: 1279px) {
  .second .content {
    height: 550px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .second h2:after {
    width: 50px; }
  .second .content_mobile {
    display: block; }
  .second .content {
    display: none; } }
