$navActive: #000;
$navInactive : #313131;
$borderColor : #e2e2e2;
$primaryTextColor : #2b2b2b;
$orange : #da491c;
$bgColor: #f8f8f8;
$secondaryText: #333;
$perksTextColor: #999;
$bgOverlay : rgba(0,0,0,0.4);
