.footer {
    background-color: rgba(0, 0, 0, 0.76);
    color: #fff;
    padding: 20px;
    font-family:"ProximaRegular";
    .socicobox {
        margin-bottom: 20px;
    }
        .ico {
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 2px solid #fff;
            border-radius: 50%;
            cursor: pointer;
                &:not(:last-child) {
                    margin-right: 20px;
                }
                a {
                    line-height: 60px;
                    font-size: 30px;
                    color: #fff;
                }
        }
    .ftrcopy {
        a {
            color: #fff;
            text-decoration: none;

        }
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .footer {
        .ico {
            width: 40px;
            height: 40px;
            &:not(:last-child) {
                margin-right: 10px;
            }
            a {
                line-height: 40px;
                font-size: 20px;
            }
        }

    }

}
