@import '../components/_type';
@import '../components/_colors';

.header {
    width: 100%;
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bgOverlay;
    }
    .bg-img {
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
    }
    .logo-img {
        position: absolute;
        top: 4%;
        right: 3%;
        width: auto;
    }

    img {
        width: 100%;

        // object-fit: cover;
    }

    h1 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 80%;
        font-size: 38px;
        color: #fff;
        font-family: $ptSans;
        font-weight: bold;
        line-height: 60px;
        &:after {
            content: '';
            display: block;
            width: 16%;
            height: 3px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -70px;
            margin: 0 auto;
            background: #da491c;
	    }
    }

    .bg-img-mobile {
        display: none;
    }
}

@media (min-width: 1366px) and (max-width: 1439px) {
    .header {
        h1 {
            font-size: 40px;
            line-height: 70px;
        }
    }
}

@media (min-width: 1440px) {
    .header {
        h1 {
            font-size: 42px;
            line-height: 70px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        h1 {
            font-size: 34px;
            line-height: 55px;
            top: 63%;
            &:after {
                bottom: -30px;
    	    }
        }

    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .header {
        h1 {
            font-size: 27px;
            line-height: 40px;
            top: 63%;
            &:after {
                bottom: -30px;
    	    }
        }

    }
}

@media (min-width: 411px) and (max-width: 480px) {

    .header {
        .bg-img-mobile {
            display: block;
        }
        .bg-img {
            display: none;
        }
        h1 {
            font-size: 17px;
            line-height: 30px;
            top: 66%;
            &:after {
                bottom: -20px;
                height: 2px;
    	    }
        }
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        .overlay {
            background-color: $bgOverlayMobile;
        }
        .logo-img {
            width: 100px;
        }
    }

}

@media (min-width: 320px) and (max-width: 375px) {

    .header {
        .bg-img-mobile {
            display: block;
        }
        .bg-img {
            display: none;
        }
        h1 {
            font-size: 14px;
            line-height: 23px;
            &:after {
                bottom: -10px;
                height: 2px;
    	    }
        }

    }

}
