@import '../components/_type';
@import '../components/_colors';

.header {
    width: 100%;
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bgOverlay;
    }
    .bg-img {
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
    }
    .logo-img {
        position: absolute;
        top: 25px;
        left: 30px;
        width: 150px;
    }

    img {
        width: 100%;

        object-fit: cover;
    }

    h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
        text-align: center;
        width: 100%;
        font-size: 52px;
        color: #fff;
        max-width: 650px;
        font-family: $myriadPro;
        font-weight: bold;
        padding: 0 10px;
        &:after {
            content: '';
            display: block;
            width: 25%;
            height: 3px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -15px;
            margin: 0 auto;
            background: #CF7E1F;
	    }
    }
    h4 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;
        font-size: 24px;
        color: #fff;
        max-width: 850px;
        font-family: $proxiReg;
        font-weight: 400;
        line-height: 1.3;
        padding: 0 10px;
    }

    .bg-img-mobile {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 900px) {

    .header {
        height: 650px;
        h1 {
            font-size: 45px;
            max-width: 600px;
        }
        h4 {
            font-size: 24px;
            max-width: 650px;
        }

    }

}

@media (min-width: 481px) and (max-width: 767px) {

    .header {

        height: 500px;
        h1 {
            font-size: 37px;
            max-width: 550px;
            top: 38%;
        }
        h4 {
            font-size: 22px;
            max-width: 550px;
            top: 60%;
        }

    }


}

@media (min-width: 361px) and (max-width: 480px) {

    .header {
        .bg-img-mobile {
            display: block;
        }
        .bg-img {
            display: none;
        }
        h1 {
            font-size: 24px;
            max-width: 500px;
            top: 35%;
            &:after {
                height: 2px;
                bottom: -12px;
    	    }
        }
        h4 {
            font-size: 15px;
            max-width: 400px;
            top: 70%;
        }
        .logo-img {
            top: 15px;
            left: 20px;
            width: 110px;
        }

    }

}

@media (min-width: 320px) and (max-width: 360px) {

    .header {
        .bg-img-mobile {
            display: block;
        }
        .bg-img {
            display: none;
        }
        h1 {
            font-size: 23px;
            max-width: 360px;
            top: 37%;
            &:after {
                height: 2px;
                bottom: -12px;
    	    }
        }
        h4 {
            font-size: 14px;
            max-width: 320px;
            top: 72%;
        }
        .logo-img {
            width: 90px;
            top: 15px;
            left: 20px;
        }
    }

}
