@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans');

$myriadPro : "MyriadProSemibold";
$proxiReg : "ProximaRegular";
$openSans : "Open Sans";
$primaryFont : "Droid Sans";
$ptSans: "PT Sans";
$lato: "Lato";
$perksHeadingSemiBold : "Open Sans - Semibold";
$blockHeading: 30px;
$blockHeadingMobile: 26px;
$blockHeadingMobileSmall: 21px;
$blockHeadingMobileExtraSmall: 17px;
$navLink : 16px;
$content : 15px;
$perksHeadingSize: 18px;
$perksContent : 14px;
$slickDotsSize : 13px;
$slickDotsSizeMobile : 30px;
$buttonSize : 14px;
$primaryTextSize: 17px;
$primaryTextLineHeight: 1.4;
$primaryTextSizeMobile: 16px;
$primaryTextLineHeightMobile: 1.4;
