@import url('https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans|Open+Sans:400,600,700');
@font-face {
    font-family: "MyriadProSemibold";
    src: url("/static/fonts/MyriadPro-Semibold.otf") format("opentype");
}
@font-face {
    font-family: "ProximaRegular";
    src: url("/static/fonts/ProximaSansRegular Regular.ttf") format("opentype");
}
$myriadPro : "MyriadProSemibold";
$proxiReg : "ProximaRegular";
$primaryFont : "Droid Sans";
$perksHeadingSemiBold : "Open Sans - Semibold";
$blockHeading: 30px;
$blockHeadingMobile: 26px;
$blockHeadingMobileSmall: 21px;
$blockHeadingMobileExtraSmall: 17px;
$navLink : 16px;
$content : 15px;
$perksHeadingSize: 17px;
$perksContent : 13px;
$slickDotsSize : 13px;
$slickDotsSizeMobile : 11px;
$buttonSize : 14px;
$primaryTextSize: 18px;
$primaryTextLineHeight: 1.4;
$primaryTextSizeMobile: 16px;
$primaryTextLineHeightMobile: 1.4;
