@charset "UTF-8";
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  color: #fff;
  background: #008ec5;
  border-radius: 100px;
  padding: 10px;
  font-size: 40px; }

.icon-facebook2:before,
.icon-twitter2:before,
.icon-linkedin2:before,
.icon-youtube2:before,
.icon-home2:before {
  background: #3D3D3D;
  padding: 0;
  border-radius: 0;
  font-size: 70px; }

.icon-vaahini-woman-internal-network:before,
.icon-family:before,
.icon-employe:before,
.icon-flexi-policy:before,
.icon-gender-diversity:before,
.icon-lgbt:before,
.icon-returning-mothers-program:before,
.icon-maternity:before {
  color: #da491c;
  background: #fff;
  padding: 0;
  border-radius: 0; }

.icon-down_arrow:before {
  color: #fff;
  background: #000;
  border-radius: 100px;
  padding: 10px;
  font-size: 15px; }

.icon-facebook2:hover:before {
  color: #678de3; }

.icon-twitter2:hover:before {
  color: #5cb2ee; }

.icon-linkedin2:hover:before {
  color: #0274b3; }

.icon-youtube2:hover:before {
  color: #df2926; }

.icon-home2:hover:before {
  color: #676565; }

.icon-left_comma:before,
.icon-right_comma:before {
  color: #da491c;
  background: #fff;
  padding: 0;
  border-radius: 0;
  font-size: 27px; }

.icon-home2:before {
  content: '\e801'; }

/* '' */
.icon-left-arrow:before {
  content: '\e802'; }

/* '' */
.icon-lgbt:before {
  content: '\e803'; }

/* '' */
.icon-twitter2:before {
  content: '\e805'; }

/* '' */
.icon-youtube2:before {
  content: '\e806'; }

/* '' */
.icon-facebook2:before {
  content: '\e809'; }

/* '' */
.icon-right-arrow:before {
  content: '\e80b'; }

/* '' */
.icon-maternity:before {
  content: '\e80c'; }

/* '' */
.icon-vaahini-woman-internal-network:before {
  content: '\e80d'; }

/* '' */
.icon-android:before {
  content: '\e80e'; }

/* '' */
.icon-apple:before {
  content: '\e80f'; }

/* '' */
.icon-linkedin2:before {
  content: '\e811'; }

/* '' */
.icon-google-plus2:before {
  content: '\e812'; }

/* '' */
.icon-employe:before {
  content: '\e814'; }

/* '' */
.icon-family:before {
  content: '\e815'; }

/* '' */
.icon-returning-mothers-program:before {
  content: '\e816'; }

/* '' */
.icon-flexi-policy:before {
  content: '\e818'; }

/* '' */
.icon-gender-diversity:before {
  content: '\e819'; }

/* '' */
.icon-legal:before {
  content: '\e81a'; }

/* '' */
.icon-operation:before {
  content: '\e81b'; }

/* '' */
.icon-sales:before {
  content: '\e81c'; }

/* '' */
.icon-system:before {
  content: '\e81d'; }

/* '' */
.icon-banking:before {
  content: '\e81e'; }

/* '' */
.icon-bpo:before {
  content: '\e81f'; }

/* '' */
.icon-consulting:before {
  content: '\e820'; }

/* '' */
.icon-hr:before {
  content: '\e821'; }

/* '' */
.icon-left_comma:before {
  content: '\e822'; }

/* '' */
.icon-right_comma:before {
  content: '\e823'; }

/* '' */
.icon-down_arrow:before {
  content: '\e824'; }

/* '' */
