@import 'components/_type';
@import 'components/_colors';

.block {
    .content {
        margin-top: 35px
    }
}

.first {

    .read_more {
        bottom: -45px;
    }
    
    background-color:  #fffbf4;
    padding-bottom: 100px;
    .content_wrapper {
        position: relative;
    }
    .content_mobile {
        display: none;
    }
    h2 {
        // text-transform: uppercase;
        &:after {
            width:80px;
	    	height:2px;
	    	left:50%;
            transform: translateX(-50%);
	    }
    }
    .primary_text {
        width: 100%;
        padding: 0;
        height: 90px;
        overflow: hidden;
        position: relative;
        font-size: 17px;
    }
    .image {
        width: 30%;
    }
}

.more {
    height: auto !important;
    overflow: auto !important;
    // margin-bottom: 15px;
    // display: -webkit-inline-box;
}

@media (min-width: 320px) and (max-width: 767px) {

    .first{
        .primary_text {
            width: 100%;
            font-size: 17px;
        }
        h2 {
            &:after {
                width:50px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .first{
        .primary_text {
            width: 100%;
            font-size: 17px;
            height: 225px;
        }
    }
}


@media (min-width: 320px) and (max-width: 1023px) {

    .first {
        .content_mobile {
            display: block;
            position: relative;
        }
        .content {
            display: none;
        }

        .image {
            width: 100%;
            margin-bottom: 50px;
        }

    }
}
