@import 'components/_type';
@import 'components/_colors';


.fifth {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    h2 {
        &:after {
	    	width:80px;
	    	height:2px;
	    	left:50%;
            transform: translateX(-50%);
	    }
    }
    .heading {
        padding: 0 90px;
    }
    .image {
        position: relative;
        margin-top: 60px;
        width: 100%;
    }
    .sub_heading {
        padding: 0;
        span {
            color: $orange;
        }
    }
    .content_wrapper {
        font-family: $openSans;
        position: absolute;
        left: 90px;
        top: 0;
        bottom: 0;
        right: 30%;
        left: 0;
        padding: 30px;
        background-color: #fff;
        opacity: 0.9;
        overflow-y: auto;
        .bp_block {

        }
        .pri_content {
            font-size: 24px;
            padding-bottom: 15px;

        }
        .sec_content {
            font-size: 18px;
            padding-bottom: 25px;
            line-height: 1.4;
        }
        ul {
            font-size: 18px;
            color: $primaryTextColor;
            list-style: initial;
            padding-left: 22px;
            li {
                padding-bottom: 10px ;
                line-height: 1.4;
            }
            .primary_content {
                font-weight: 700;
                font-size: 19px;
            }
        }
        .primary_text {
            padding: 20px 0;
        }
        .button {
            display: inline-block;
            padding: 0 20px;
            height: 45px;
            line-height: 45px;
            border-radius: 20px;
            font-size: $buttonSize;
            text-align: center;
            cursor: pointer;
            border: 1px solid #333;
        }
    }

}

@media (min-width: 901px) and (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 900px) {
    .fifth {
        padding-left: 0;
        padding-right: 0;
        .content_wrapper {
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;


        }
        .heading {
            padding-left: 70px;
            padding-right: 70px;
        }
        .sub_heading {
            padding-left: 0;
            padding-right: 0;
        }
    }

}

@media (min-width: 320px) and (max-width: 767px) {

    .fifth {

        h2 {
            &:after {
                width:50px;
            }
        }

        .image {
            margin-top: 25px;
            img {
                display: none;
            }
        }
        .content_wrapper {
            position: static;
            height: 700px;
            overflow-y: scroll;
            opacity: 1;
            background-color: $bgColor;


        }
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .fifth {
        .heading {
            padding: 0 50px;
        }
        .content_wrapper {
            padding: 50px;
        }
    }
}

@media (min-width: 361px) and (max-width: 480px) {
    .fifth {
        .heading {
            padding: 0 30px;
        }
        .content_wrapper {
            padding: 30px;

        }
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .fifth {
        .heading {
            padding: 0 10px;
        }
        .content_wrapper {
            padding: 20px 30px;

        }
    }
}
