@import 'components/_type';
@import 'components/_colors';


.sixth {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    .heading {
        text-align: center;
    }
    h2 {
        &:after {
	    	width:30%;
	    	height:2px;
            left:50%;
	    	right:0;
            transform: translate(-50%);
	    }
    }
    .image {
        position: relative;
        margin-top: 60px;
        width: 100%;
        //background: url("../images/Employee-story_ Garima.png");
        .content_wrapper {
            position: absolute;
            left: 90px;
            top: 15%;
            bottom: 15%;
            right: calc(100% - 830px);
            padding: 60px;
            background-color: #fff;
            opacity: 0.9;
            .sub_heading {
                padding: 0;
                span {
                    color: $orange;
                }
            }
            .primary_text {
                padding: 20px 0;
            }
            .button {
                display: inline-block;
                padding: 0 20px;
                height: 45px;
                line-height: 45px;
                border-radius: 20px;
                font-size: $buttonSize;
                text-align: center;
                cursor: pointer;
                border: 1px solid #333;
            }
        }
    }
}      


@media (min-width: 361px) and (max-width: 768px) {
    .sixth {
        // .slides {
        //     margin: 0px 10px;
        //     padding: 0 10px;
        // }
        .image {
            position: relative;
            margin-top: 30px;
            width: 100%;
            .content_wrapper {
                position: absolute;
                left: 90px;
                top: 15%;
                bottom: 15%;
                right: calc(100% - 830px);
                padding: 60px;
                background-color: #fff;
                opacity: 0.9;
                .sub_heading {
                    padding: 0;
                    span {
                        color: $orange;
                    }
                }
                .primary_text {
                    padding: 20px 0;
                }
                .button {
                    display: inline-block;
                    padding: 0 20px;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 20px;
                    font-size: $buttonSize;
                    text-align: center;
                    cursor: pointer;
                    border: 1px solid #333;
                }
            }
        }   
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .sixth {
        .slides {

            .quotes-img {
                width: 74px;
                top: 71px;
            }
            .profile-img {
                top: 75px;
                width: 100px;
                height: 102px;
            }
            .content_wrapper {

                padding-top: 85px;

            }
        }
    }

}

@media (min-width: 361px) and (max-width: 480px) {

    .sixth {
        .slides {

            .content_wrapper {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 65px;
            }

            .quotes-img {
                width: 54px;
                top: 86px;
                left: 20px;
            }
            .profile-img {
                top: 80px;
                width: 85px;
                height: 87px;
            }
        }
    }

}

@media (min-width: 320px) and (max-width: 360px) {

    .sixth {
        // .slides {

        //     .content_wrapper {
        //         padding-left: 5px;
        //         padding-right: 5px;
        //         padding-top: 45px;
        //     }

        //     .quotes-img {
        //         width: 34px;
        //         top: 100px;
        //         left: 10px;
        //     }
        //     .profile-img {
        //         top: 90px;
        //         width: 60px;
        //         height: 62px;
        //     }
        //     .primary_text {
        //         font-size: 12px;
        //     }
        // }

        .slick-prev {
            left: 0px;
        }
        .slick-next {
            right: 0px; 
        }
        .image {
            position: relative;
            margin-top: 30px;
            width: 100%;
            background-size: cover;
            .content_wrapper {
                position: absolute;
                left: 20px;
                top: 15%;
                bottom: 15%;
                right: calc(100% - 830px);
                padding: 60px;
                background-color: #fff;
                opacity: 0.9;

                // .heading {
                //     padding: 0 10px;
                // }
                
                padding: 20px 10px;
                
                .sub_heading {
                    padding: 0;
                    span {
                        color: $orange;
                    }
                }
                .primary_text {
                    padding: 20px 0;
                }
                .button {
                    display: inline-block;
                    padding: 0 20px;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 20px;
                    font-size: $buttonSize;
                    text-align: center;
                    cursor: pointer;
                    border: 1px solid #333;
                }
            }
        }  
    }

}
