@import 'components/_type';
@import 'components/_colors';


.third {

    .content_mobile {
        display: none;
    }

    background-color: $bgColor;

    h2 {
        &:after {
	    	width:30%;
	    	height:2px;
	    	right:20%;
            left: unset;
	    }
    }

    .content {
        padding: 50px 0;
        margin-top: 0;
        &:not(:nth-child(4)) {
            border-bottom: 1px solid $borderColor;
        }
    }

    .content_wrapper {
        width: 60%;
        &:nth-child(3) {
            .image {
                text-align: right;
            }
        }
    }

        .image {
            width: 40%;
            position: relative;
            .youtube_ico {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 18%;
                height: 25%;
                cursor: pointer;
            }
        }
        .pad_left {
            padding-left: 50px;
        }
        .pad_right {
            padding-right: 50px;
        }
}

@media (min-width: 320px) and (max-width: 767px) {

    .third {
        .content_mobile {
            display: block;
            padding: 50px 0;
            margin-top: 0;
            &:not(:last-child) {
                border-bottom: 1px solid $borderColor;
            }
        }
        .content {
            display: none;
        }
        .image {
            width: 100%;
        }
        .content_wrapper {
            width: 100%;
            padding-bottom: 40px;
            .sub_heading {
                padding: 0 0 20px 0;
            }
        }
    }
}
