@import 'components/_type';
@import 'components/_colors';

.divider {
    border: 0;
    height: 0;
    border-bottom: 1px solid $borderColor;
    margin: 0;
}

.col {
    display: inline-block;
    vertical-align: top;
}

.col_w_45 {
    width: 45%;
}

.col_w_55 {
    width: 55%;
}

.col_h_full {
    height: 100%;
}

.col_h_half {
    height: 50%;
}

.col_w_half {
    width: 50%;
}

.col_w_full {
    width: 100%;
}

.block {
    padding: 60px 90px;
    font-size: 0;

    h2 {
        color: #000;
        font-family: $myriadPro;
        font-size: $blockHeading;
        padding: 0 0 20px 0;
        position: relative;
        display: inline-block;
        &:after {
	    	content:'';
	    	display:block;
	    	width:75%;
	    	height:2px;
	    	position:absolute;
	    	left:0;
	    	right:0;
	    	bottom:-1px;
	    	background: $orange;
	    }
    }
    .content {
        margin-top: 50px;
    }
    .content_mobile {
        margin-top: 50px;
    }
    .image {
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .primary_text {
        line-height: $primaryTextLineHeight;
        font-size: $primaryTextSize;
        font-family: "Lato";
        color: $primaryTextColor;
    }

    .sub_heading {
        color: #000;
        font-family: $myriadPro;
        font-size: 25px;
        padding: 20px 0;
        line-height: 1.4;
    }
}

.video_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal_content {

    iframe{
        display: block;
        height: 100%;
        width: 100%;
    }
}

.modal_close {
    position: absolute;
    top: -40px;
    right: 0;
}

@media (min-width: 768px) and (max-width: 900px) {
    .block {
        padding-left: 70px;
        padding-right: 70px;
    }
}


@media (min-width: 481px) and (max-width: 767px) {

    .block {
        padding-left: 50px;
        padding-right: 50px;
        h2 {
            font-size: $blockHeadingMobile;
        }
        .sub_heading {
            font-size: 21px;
        }
    }

}

@media (min-width: 361px) and (max-width: 480px) {

    .block {
        padding-left: 30px;
        padding-right: 30px;
        h2 {
            font-size: $blockHeadingMobileSmall;
        }
        .primary_text {
            font-size: $primaryTextSizeMobile;
        }
        .sub_heading {
            font-size: 18px;
        }
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .block {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media (min-width: 320px) and (max-width: 360px) {

    .block {
        padding-left: 10px;
        padding-right: 10px;
        h2 {
            font-size: $blockHeadingMobileExtraSmall;
        }
        .primary_text {
            font-size: $primaryTextSizeMobile;
        }
        .sub_heading {
            font-size: 16px;
        }
    }

}

.main_container {
    min-height: 100%;
}


.animated.fadeIn {
  -webkit-animation: fadeIn 2s; /* Safari 4+ */
  -moz-animation:    fadeIn 2s; /* Fx 5+ */
  -o-animation:      fadeIn 2s; /* Opera 12+ */
  animation:         fadeIn 2s; /* IE 10+, Fx 29+ */
}

.ui-tabs-nav {
    display:none;
}