@import 'components/_type';
@import 'components/_colors';

.block .image img {
    height: unset;
}

.second {
    padding-bottom: 62px;
    .content_mobile {
        display: none;
    }

    h2 {
        &:after {
	    	width:80px;
	    	height:2px;
	    	left:50%;
            transform: translateX(-50%);
	    }
    }
    .heading {
        text-align: center;
    }

    .content {
        max-width: 1050px;
        margin: 50px auto 0 auto;
        // margin-top: 50px;
    }

    .pad_left {
        padding-left: 5px;
    }

    .pad_right {
        padding-right: 5px;
    }

    .pad_bottom {
        padding-bottom: 5px;
    }

    .pad_top {
        padding-top: 5px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .second {

        h2 {
            &:after {
                width:50px;
            }
        }
        .content_mobile {
            display: block;
        }
        .content {
            display: none;
        }
    }
}
