@import 'components/_type';
@import 'components/_colors';

.fourth {
    position: relative;
    padding-bottom: 90px;
    padding-top: 52px;
    .slider_fourth_mobile {
        display: none;
    }
    .image-above {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        z-index: 0;
        img {
            max-width: 100%;
            width: auto;
        }
    }
    .image-below {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 180px;
        z-index: 0;
        img {
            max-width: 100%;
            width: auto;
        }
    }
    .slider_fourth {
        display: inline-block;
    }
    h2 {
        &:after {
	    	width:80px;
	    	height:2px;
	    	left:50%;
            transform: translateX(-50%);
	    }
    }
    .content_wrapper {
        .primary_text {
            margin-top: 40px;
            padding-right: 75px;
        }
    }

    .perk-heading {
        padding-top: 0 !important;
    }

    .col {
        &:nth-child(odd) {
            padding-right: 20px;
        }

        &:nth-child(-n+2) {
            padding-bottom: 40px;
        }

        &:nth-child(n+3) {
            padding-bottom: 20px;
        }

        .heading {
            font-family: $ptSans;
            font-size: $perksHeadingSize;
            padding: 15px 0;
            color: $secondaryText;
            line-height: 1.3;
            text-transform: uppercase;
        }
        .text {
            font-family: $lato;
            font-size: $perksContent;
            line-height: 1.4;
            color: $perksTextColor;
        }

        .f-icon:before {
            color: $orange;
            background-color: #fff;
            margin: 0;
            padding: 0;
            font-size: 40px;
            margin-left: -4px;
        }
    }

    .slick-dots {
        text-align: left;
        left: -3px;
        bottom: -30px;
    }
    .slick-arrow {
        display: none !important;
    }
}


@media (min-width: 320px) and (max-width: 767px) {

    .fourth {
        h2 {
            &:after {
                width:50px;
            }
        }
        .col_container {
            padding-bottom: 0 !important;
        }

        .content_wrapper {
            width: 100%;
            .primary_text {
                padding: 0;
                margin: 40px 0;
            }
        }
        .slider_fourth_mobile {
            display: block;
        }
        .slider_fourth {
            display: none;
        }

        .slick-dots {
            text-align: center;
        }

        .col_container {
            .col {
                padding-right: 15px;
            }
        }
    }



}
