@import 'components/_type';
@import 'components/_colors';


.ninth {
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    .slick-prev:before,
    .slick-next:before{
        font-size: 60px;
    }

    .slick-prev{
        left: 15px;
        // &:before{
        //     //left: -15px;
        // }
    }
    // .slick-next{
    //     //left: 15px;
    //     &:before{
    //         //left: -15px;
    //     }
    // }

    .heading {
        text-align: center;
    }
    h2 {
        &:after {
	    	width:80px;
	    	height:2px;
	    	left:50%;
	    	transform: translateX(-50%);
	    }
    }
    .image {
        position: relative;
        margin-top: 60px;
        width: 100%;
        opacity: 1;
        //background: url("../images/Employee-story_ Garima.jpg");
        &#garima-story{
            background: url("../../images/Employee-story_ Garima.jpg");
            background-size: cover;
            // opacity: 1;
            width: 100%;
            // height: fit-content;
            height: 700px;
        }
        &#pooja-story{
            background: url("../../images/Employee-story_ Pooja.jpg");
            background-size: cover; 
            // opacity: 1;
            width: 100%;
            // height: fit-content;
            height: 700px;
        }
        .content_wrapper {
            position: absolute;
            left: 90px;
            top: 15%;
            bottom: 15%;
            right: calc(100% - 830px);
            padding: 60px;
            background-color: #fff;
            opacity: 0.9;
            
            // .sub_heading {
            //     padding: 0;
            //     span {
            //         color: $orange;
            //     }
            // }
            .primary_text {
                padding: 20px 0;
                z-index: 1;
            }
            // .button {
            //     display: inline-block;
            //     padding: 0 20px;
            //     height: 45px;
            //     line-height: 45px;
            //     border-radius: 20px;
            //     font-size: $buttonSize;
            //     text-align: center;
            //     cursor: pointer;
            //     border: 1px solid #333;
            // }
            .name{
                display: block;
                font-size: 20px;
                margin-top: 20px;
                font-weight: 600;

                font-family: "Lato";
            }


        }
    }
}      


// @media (min-width: 361px) and (max-width: 768px) {
//     .ninth {
//         // .slides {
//         //     margin: 0px 10px;
//         //     padding: 0 10px;
//         // }
//         .image {
//             position: relative;
//             margin-top: 30px;
//             width: 100%;
//             .content_wrapper {
//                 position: absolute;
//                 left: 90px;
//                 top: 15%;
//                 bottom: 15%;
//                 right: calc(100% - 830px);
//                 padding: 60px;
//                 background-color: #fff;
//                 opacity: 0.9;
//                 .sub_heading {
//                     padding: 0;
//                     span {
//                         color: $orange;
//                     }
//                 }
//                 .primary_text {
//                     padding: 20px 0;
//                 }
//                 .button {
//                     display: inline-block;
//                     padding: 0 20px;
//                     height: 45px;
//                     line-height: 45px;
//                     border-radius: 20px;
//                     font-size: $buttonSize;
//                     text-align: center;
//                     cursor: pointer;
//                     border: 1px solid #333;
//                 }
//             }
//         }   
//     }
// }

@media (min-width: 320px) and (max-width: 767px){
    .ninth{
        .image{
            .content_wrapper {
                position: absolute;
                left: 20px;
                top: 15%;
                bottom: 15%;
                right: 20px;
                background-color: #fff;
                opacity: 0.9;
                height: fit-content;
                padding: 20px 10px;
                
                // .sub_heading {
                //     padding: 0 10px;
                //     span {
                //         color: $orange;
                //     }
                // }
                .primary_text {
                    padding: 20px;
                }
                // .button {
                //     display: inline-block;
                //     padding: 0 20px;
                //     height: 45px;
                //     line-height: 45px;
                //     border-radius: 20px;
                //     font-size: $buttonSize;
                //     text-align: center;
                //     cursor: pointer;
                //     border: 1px solid #333;
                // }
                .name{
                    display: block;
                    font-size: 25px;
                    margin-top: 20px;
                    font-family: "Lato";
                    font-weight: 600;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 960px){
    .ninth{
        .slick-prev {
            left: 7px;
            
        }
        .slick-next {
            right: 40px; 
        }
        .image{
            .content_wrapper {
                position: absolute;
               left: 50px;
               top: 15%;
               bottom: 15%;
               right: calc(100% - 80%);
               padding: 60px;
               background-color: rgb(255, 255, 255);
               opacity: 0.9;
               
            //    .sub_heading {
            //        padding: 0;
            //        span {
            //            color: $orange;
            //        }
            //    }
               .primary_text {
                   padding: 20px 0;
               }
            //    .button {
            //        display: inline-block;
            //        padding: 0 20px;
            //        height: 45px;
            //        line-height: 45px;
            //        border-radius: 20px;
            //        font-size: $buttonSize;
            //        text-align: center;
            //        cursor: pointer;
            //        border: 1px solid #333;
            //    }
            .name{
                display: block;
                font-size: 20px;
                margin-top: 20px;
                font-weight: 600;
                font-family: "Lato";
            }
           }
        }
    }

}


@media (min-width: 320px) and (max-width: 480px) {

    .ninth {

        .slick-prev {
            left: 0px;

        }
        .slick-next {
            right: 0px; 
        }
        .slick-prev:before,
        .slick-next:before{
            font-size: 30px;
        }
        .image {
            position: relative;
            margin-top: 30px;
            width: 100%;
            background-size: cover;

            width: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-repeat: no-repeat;
                background-position: left;

            // &#garima-story{
            //     height: 900px;
            //     // height: fit-content;
            //     //width: 50%;
            //     position: relative;
            //     background-position-x: -45%;
            //     // opacity: .5;
                
            // }
            // &#pooja-story{
            //     height: 900px;
            //     //height: fit-content;
            //     position: relative;
            //     background-position-x: -45%;
            // }
            .content_wrapper {
                top: 5%;
                .primary_text {
                    padding: 20px;
                }
                .name{
                    display: block;
                    font-size: 15px;
                    margin-top: 20px;
                    font-family: "Lato";
                    padding: 0 15px;
                    font-weight: 600;
                }
            }
            
        }  
    }

}

@media (min-width: 320px) and (max-width: 359px) {
    .ninth{
        .image{
            &#garima-story{
                height: 900px;
                // height: fit-content;
                //width: 50%;
                position: relative;
                background-position-x: -45%;
                // opacity: .5;
                
            }
            &#pooja-story{
                height: 900px;
                //height: fit-content;
                position: relative;
                background-position-x: -45%;
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .ninth{
        .image{
            &#garima-story{
                height: 800px;
                // height: fit-content;
                //width: 50%;
                position: relative;
                background-position-x: -55%;
                // opacity: .5;
                
            }
            &#pooja-story{
                height: 800px;
                //height: fit-content;
                position: relative;
                background-position-x: -55%;
            }
        }
    }

}

// @media (min-width: 481px) and (max-width: 768px){
    
//     .ninth{
//         .slick-prev {
//             left: -5px;
    
//         }
//         .slick-next {
//             right: 5px; 
//         }
//         .slick-prev:before,
//         .slick-next:before{
//             font-size: 40px;
//         }
//         .image{
//             &#garima-story{
//                 height: 800px;
//                 // height: fit-content;
//                 //width: 50%;
//                 position: relative;
//                 background-position-x: -55%;
//                 // opacity: .5;
                
//             }
//             &#pooja-story{
//                 height: 800px;
//                 //height: fit-content;
//                 position: relative;
//                 background-position-x: -55%;
//             }
//         }
//     }
// }


@media (min-width: 480px) and (max-width: 547px) {
    .ninth {

        .slick-prev {
            left: -5px;
    
        }
        .slick-next {
            right: 5px; 
        }
        .slick-prev:before,
        .slick-next:before{
            font-size: 40px;
        }
        .image {

            &#garima-story{
                 height: 800px;
                position: relative;
                background-position-x: -70%;
                
            }
            &#pooja-story{
                height: 800px;
                position: relative;
                background-position-x: -70%;
            }
        }  
    }

}

@media (min-width: 548px) and (max-width: 767px) {

    .ninth {
        .slick-prev {
            left: -12px;
            // left: 0;
    
        }
        .slick-next {
            right: 9px; 
            // right: 0;
        }
        .slick-prev:before,
        .slick-next:before{
            font-size: 50px;
        }

        .image {
            &#garima-story{
                 height: 600px;
                position: relative;
                background-position-x: 60%;
                
            }
            &#pooja-story{
                height: 600px;
                position: relative;
                background-position-x: 60%;
            }
            .content_wrapper {
                top: 10%;
            }
        } 
         
    }

}

@media (min-width: 768px) and (max-width: 960px) {

    .ninth {
        .slick-prev {
            left: -12px;
            // left: 0;
    
        }
        .slick-next {
            right: 9px; 
            // right: 0;
        }
        .slick-prev:before,
        .slick-next:before{
            font-size: 50px;
        }

        .image {
            &#garima-story{
                 height: 830px;
                position: relative;
                background-position-x: 60%;
                
            }
            &#pooja-story{
                height: 830px;
                position: relative;
                background-position-x: 60%;
            }
            .content_wrapper {
                top: 10%;
            }
        } 
         
    }

}





