@import 'components/_type';
@import 'components/_colors';


.ninth {
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    .slick-prev:before,
    .slick-next:before{
        font-size: 60px;
    }

    .slick-prev{
        left: 40px;

    }
    .slick-next{
        right: 40px;

    }

    .heading {
        text-align: center;
    }
    h2 {
        &:after {
	    	width:80px;
	    	height:2px;
	    	left:50%;
	    	transform: translateX(-50%);
	    }
    }

}
